<ng-container *ngVar="(card$ | async) as c">
	<div class="card" *ngIf="c != null">
		<div class="card-container">
			<div class="card-inner">
				<ng-container *ngVar="getCardEffectImage(c) as cardImage">
					<img *ngIf="cardImage != null" class="card-effect" [src]="cardImage" alt="Card Effect"/>
				</ng-container>
				<img [src]="getCardImage(c)" alt="Card Image"/>
			</div>
			<div class="card-frame">
				<span class="card-name card-text">{{getCardName(c)}}</span>
				<span class="card-type-name card-text">{{getCardTypeName(c)}}</span>
				
				<img [src]="getCardFrameFront(c)" alt="Card Frame" />
			</div>
		</div>
	</div>
</ng-container>
