<ng-container *ngVar="(card$ | async) as c">
	<div class="card">
		<div class="card-container">
			<div class="card-inner">
				<ng-container *ngVar="getCardEffectImage(c) as cardEffectImage">
					<img *ngIf="cardEffectImage != null" class="card-effect" [src]="cardImage" alt="Card Effect"/>
				</ng-container>
        <ng-container *ngVar="getCardImage(c) as cardImage">
          <img *ngIf="cardImage != null" [src]="cardImage" alt="Card Image"/>
          <div *ngIf="cardImage == null" class="card-not-found">Card not found</div>
        </ng-container>
			</div>
			<div class="card-frame">
        <ng-container *ngVar="getCardLevel(c) as level">
          <div *ngIf="level != null" class="level">{{level}}</div>
        </ng-container>
        <ng-container *ngVar="getCardQuality(c) as quality">
          <div *ngIf="quality != null" class="quality">{{quality}}</div>
        </ng-container>
				<span class="card-name card-text">{{getCardName(c)}}</span>
				<span class="card-type-name card-text">{{getCardTypeName(c)}}</span>

				<img class="frame-front" [src]="getCardFrameFront(c)" alt="Card Frame Front" />
				<img class="frame-back" [src]="getCardFrameBack(c)" alt="Card Frame Back" />
			</div>
		</div>
	</div>
</ng-container>
