@import "../../../../theme.scss";

.profile-wrapper {
	margin-top: 30px;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	.profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		.username {
			margin: 0;
			font-size: 50px;
		}

		.stats {
			margin: 0;
			font-size: 20px;
			color: map-get(map-get($theme, foreground), hint-text);
		}
	}

	.edit {
		position: fixed;
		right: 60px;
		bottom: 60px;
		transform: translate(50%, 50%) scale(1.2);
	}
}
