@import "../scss/__base.scss";

.container{

    display: grid;

    box-sizing: border-box;

    width: 100%;
    height: 100%;

    grid-template-columns: 25% auto 25%;
    grid-template-rows: 50% 50%;

    column-gap: 25px;
    row-gap: 25px;

    grid-template-areas: 
        "account packs friends"
        "notifications packs friends";

    .accountInfo{

        grid-area: account;

        .avatar{

            display: flex;

            justify-content: center;

            height: 50%;

            img{

                border-radius: 100%;
                border: 1px solid #fff;

            }

        }

        .profileName{

            text-align: center;

            margin-top: 10px;

            font-size: 18px;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 0.1em;

        }

        .stats{

            margin-top: 10px;

            width: 100%;

            letter-spacing: 0.05em;

            td:nth-child(2){

                text-align: right;

            }

        }

    }

    .notifications{

        grid-area: notifications;

    }

    .packs{

        grid-area: packs;

    }

    .friends{

        grid-area: friends;

        overflow: hidden;

        ul{

            height: 100%;

            list-style-type: none;
            overflow-y: auto;

        }

        .friend{

            margin: 10px 0;

            display: flex;
            align-items: center;

            height: 50px;
            width: 100%;

            img{

                height: 100%;
                width: auto;

                border-radius: 100%;
                border: 1px solid #fff;

            }

            p{

                margin-left: 10px;

            }

        }

    }

    @media screen and (max-width: $breakpoint-xl) {
        
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50% 50%;

        grid-template-areas: 
        "packs packs packs"
        "account notifications friends";

    }

    @media screen and (max-width: $breakpoint-md){
        
        grid-template-columns: 100%;
        grid-template-rows: 100% 50% 50% 50%;

        grid-template-areas: 
        "packs"
        "account"
        "friends"
        "notifications";

    }

}
