@import "../scss/__base.scss";

.container_home{

    display: grid;

    box-sizing: border-box;

    width: 100%;
    height: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px minmax(min-content, max-content) ;

    column-gap: 25px;
    row-gap: 25px;

    grid-template-areas: 
        "packGraph packGraph"
        "tutorial copyright";

    @media screen and (max-width: $breakpoint-lg)
    {
        grid-template-rows: 400px minmax(min-content, max-content) minmax(min-content, max-content);
        grid-template-areas: 
            "packGraph packGraph"
            "tutorial tutorial"
            "copyright copyright";
    }

    @media screen and (max-width: $breakpoint-sm)
    {
        grid-template-rows: 300px minmax(min-content, max-content) minmax(min-content, max-content);
    }


    .packGraphWrapper {
        grid-area: packGraph;
        .card-content
        {
            padding-left: 0;
        }
    }
    
    .tutorial
    {
        grid-area: tutorial;

        div
        {
            margin-left: 10px;
        }
        h5
        {
            font-size: 18pt;
        }
        p
        {
            padding: 1px;
            padding-left: 15px;
        }
    }

    .copyright
    {
        grid-area: copyright;
    }
}
