@import "../scss/_base";

.nav-wrapper{
    display: flex;

    width: 100%;
    height: $navbar-height;
    background-color: $navbar-background;

    border-bottom: 1px solid hsla(0,0%,84.7%,.2);

    .nav-title{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 80px;
        height: 100%;

        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em;

        letter-spacing: 1px;

        overflow: hidden;
        text-overflow: ellipsis;

        white-space: nowrap;

        a{ color: white; }
        span, .headerIcon{ display: flex; float: left; }
        span{ margin-top: 3px; margin-left: 10px; display: none; }
        .headerIcon{ height: 20px; width: auto; border: white solid 1px; border-radius: 50%; }

        @media screen and (min-width: 1200px) {
            width: 270px;
            span{ display: block; }
        }
    }

    .gap{
        flex: 1;
    }

    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 20px;

        a{
            color: $navbar-color;
            margin: 0 10px;
            text-decoration: none;
        }

        .nav-login{
            color: $login-btn-color;
            background-color: $login-btn-background;
            border-color: $login-btn-border;

            border: 1px solid;

            padding: 8px 10px;

            text-align: center;
            text-transform: uppercase;
            text-decoration: none;

            transition: all ease-in-out 0.25s;
            &:hover{
                color: $login-btn-color-hover;
                background-color: $login-btn-background-hover;
                border-color: $login-btn-border-hover;
            }
        }

        .profile{
            width: calc(#{$navbar-height} - 30px);
            height: calc(#{$navbar-height} - 30px);

            border-radius: 50%;
        }
    }
}
