<div class="wrap">
  <div *ngVar="(profile$ | async) as profile" class="profile-wrapper">
    <ng-container *ngVar="(isSelf$ | async) as isSelf" >
      <div *ngIf="profile != null" class="profile">
        <cc-profile-image [userId]="profile.userId" [editable]="false"></cc-profile-image>
        <div class="name">
          <h1 class="username">{{profile.username}}</h1>
          <div class="actions" *ngVar="(friendStatus$ | async) as fs">
            <button *ngIf="isSelf === false && fs == friendStatus.Nothing" (click)="addFriend(profile.userId)" mat-icon-button aria-label="Friend request">
              <mat-icon>person_add</mat-icon>
            </button>
            <button *ngIf="isSelf === false && fs == friendStatus.Sent" (click)="removeFriend(profile.userId, false)" mat-icon-button aria-label="Friend request">
              <mat-icon>person_add_disabled</mat-icon>
            </button>
            <button *ngIf="isSelf === false && fs == friendStatus.Friend" (click)="removeFriend(profile.userId, true)" mat-icon-button aria-label="Friend request">
              <mat-icon>person_remove</mat-icon>
            </button>
            <button *ngIf="isSelf === false && fs === friendStatus.Friend" (click)="trade(profile.userId)" mat-icon-button aria-label="Trade">
              <mat-icon>trade</mat-icon>
            </button>
          </div>
        </div>
        <p class="stats">Friends: {{profile.friends}}/{{profile.maxFriends}}</p>
      </div>
      <button *ngIf="isSelf === true" class="floating-button-br" mat-fab aria-label="Edit" (click)="edit()">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
