@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue'; }

body {
  height: 100%;
  background-color: #15171b;
  color: white; }

.scrollable {
  overflow: auto; }
div[id="cards"] {
  float: left;
  margin: auto;
  overflow: auto;
  max-height: none;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 60%;
  height: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.5); }

div[id="maincard"] {
  margin: auto;
  margin-top: 100px;
  width: 30%;
  float: right;
  height: auto; }
html, body {
  margin: auto;
  height: auto;
  overflow: auto; }

.home {
  height: 100vh;
  width: 100%; }
  .home h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em; }
  .home:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("/assets/homeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.1;
    width: 100%;
    height: 100%; }

.about {
  width: 100%; }
  .about .title {
    margin: 4% 0; }

.section .title {
  position: relative;
  font-size: 3em;
  text-align: center;
  background: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 0px 1px;
  background-position: bottom center;
  transition: background 0.2s ease-in-out; }

.section:hover .title {
  background-size: 100px 1px; }
input[type="search"] {
  color: #fff;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #b047ca;
  width: 70%;
  outline: none;
  margin-top: 150px;
  padding: 10px 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px; }
  input[type="search"]:focus {
    border-color: #fff;
    transition: border 0.2s ease-in-out; }

input[name="submit"] {
  color: black;
  padding: 10px 30px;
  margin-top: 1%;
  margin-left: 30%;
  width: 40%;
  outline: none;
  border: 2px solid #b047ca;
  background-color: #b047ca;
  border-radius: 25px; }
  input[name="submit"]:enabled:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in-out; }
  input[name="submit"]:active {
    border-color: #ffffff; }
  input[name="submit"]:disabled {
    background-color: #202320;
    border-color: #202320; }

div#inventory {
  margin: auto;
  overflow: auto;
  max-height: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto; }

.next {
  color: black;
  padding: 10px 30px;
  padding: 1%;
  float: right;
  width: 4%;
  margin-right: 5%;
  outline: none;
  border: 2px solid #b047ca;
  background-color: #b047ca;
  border-radius: 25px; }
  .next:enabled:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in-out; }
  .next:active {
    border-color: #ffffff; }
  .next:disabled {
    background-color: #202320;
    border-color: #202320; }

.previous {
  color: black;
  padding: 10px 30px;
  margin-left: 5%;
  padding: 1%;
  float: left;
  outline: none;
  border: 2px solid #b047ca;
  width: 4%;
  background-color: #b047ca;
  border-radius: 25px; }
  .previous:enabled:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in-out; }
  .previous:active {
    border-color: #ffffff; }
  .previous:disabled {
    background-color: #202320;
    border-color: #202320; }

.page {
  position: relative;
  color: white;
  float: left;
  font-size: 300%;
  margin: auto;
  margin-top: 2%;
  width: 100%;
  text-align: center;
  margin-bottom: 2%; }
.content {
  width: 100%;
  height: 100vh; }
  .content .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #25282f;
    padding: 40px;
    text-align: center; }
    .content .card a {
      margin-top: 20px;
      color: white;
      display: block; }
    .content .card input[type="text"], .content .card input[type="password"] {
      color: #fff;
      background: none;
      display: block;
      text-align: center;
      border: 2px solid rgba(0, 255, 0, 0.25);
      width: 280px;
      outline: none;
      margin: 20px auto;
      padding: 10px 4px;
      border-radius: 25px; }
      .content .card input[type="text"]:hover, .content .card input[type="password"]:hover {
        border-color: #00ff00;
        transition: border 0.2s ease-in-out; }
    .content .card .wrong {
      border-color: red !important; }
    .content .card input[type="submit"] {
      color: black;
      padding: 10px 30px;
      margin: auto;
      border: 2px solid #00ff00;
      background-color: #00ff00;
      border-radius: 25px; }
      .content .card input[type="submit"]:enabled:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        transition: background 0.2s ease-in-out; }
      .content .card input[type="submit"]:disabled {
        background-color: #202320;
        border-color: #202320; }
.wrapper {
  padding: 150px 0px 0px 30px; }
  .wrapper .pass_change {
    padding: 0px 0px 2% 0px;
    margin: 0px 60% 0px 0px;
    background-color: #1b1c1f;
    box-shadow: 0px 2px 10px #b047ca; }
    .wrapper .pass_change .pass_change_top {
      padding: 0px 0px 15px 0px;
      box-shadow: 0px 2px 10px #b047ca; }
      .wrapper .pass_change .pass_change_top .pass_change_text {
        padding: 20px 0px 0px 25%; }
    .wrapper .pass_change input[type="password"] {
      color: #fff;
      background: none;
      display: block;
      text-align: center;
      border: 2px solid #b047ca;
      width: 70%;
      outline: none;
      margin: 20px auto;
      padding: 10px 4px;
      border-radius: 25px; }
      .wrapper .pass_change input[type="password"]:focus {
        border-color: #fff;
        transition: border 0.2s ease-in-out; }
    .wrapper .pass_change input[name="submit"] {
      color: black;
      padding: 10px 30px;
      margin: 0px 0px 0px 29%;
      width: 40%;
      outline: none;
      border: 2px solid #b047ca;
      background-color: #b047ca;
      border-radius: 25px; }
      .wrapper .pass_change input[name="submit"]:enabled:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        transition: background 0.2s ease-in-out; }
      .wrapper .pass_change input[name="submit"]:active {
        border-color: #ffffff; }
      .wrapper .pass_change input[name="submit"]:disabled {
        background-color: #202320;
        border-color: #202320; }
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue'; }

body {
  height: 100%;
  background-color: #15171b;
  color: white; }
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 120px);
  overflow: hidden; }
  .wrapper .dashboard.card2 {
    position: relative;
    width: calc(90% - 40px);
    min-height: calc(70vh - 40px);
    margin: 0 5% 5% 5%;
    padding: 20px;
    background-color: #25282f; }
    .wrapper .dashboard.card2 .menu {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      .wrapper .dashboard.card2 .menu #username {
        display: inline-block;
        font-size: 3em;
        font-family: 'Oswald';
        font-weight: 700;
        text-transform: uppercase; }
      .wrapper .dashboard.card2 .menu #settings {
        position: relative;
        float: right;
        color: #979CA7;
        transition: transform 1s;
        margin-top: 10px;
        margin-right: 10px; }
        .wrapper .dashboard.card2 .menu #settings:hover {
          color: #fff;
          -webkit-animation: rotating 5s linear infinite;
          -moz-animation: rotating 5s linear infinite;
          -ms-animation: rotating 5s linear infinite;
          -o-animation: rotating 5s linear infinite;
          animation: rotating 5s linear infinite; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
    .wrapper .dashboard.card2 .stats {
      border-right: 1px solid rgba(255, 255, 255, 0.5); }
      .wrapper .dashboard.card2 .stats .content {
        margin-top: 25px;
        text-align: center; }
        .wrapper .dashboard.card2 .stats .content p:not(:last-child) {
          margin-bottom: 15px; }
    .wrapper .dashboard.card2 .collection .pack {
      float: left;
      width: 35%;
      height: 100%;
      border-right: 1px solid rgba(255, 255, 255, 0.5); }
      .wrapper .dashboard.card2 .collection .pack .progress {
        fill: transparent;
        stroke-width: 4;
        stroke: red;
        transition: 0.35s stroke-dashoffset;
        transform: rotate(-90deg);
        transform-origin: 50% 50%; }
      .wrapper .dashboard.card2 .collection .pack .time {
        font-size: 100pt; }
    .wrapper .dashboard.card2 .collection .inventory {
      float: left;
      height: 100%;
      width: 33%;
      border-right: 1px solid rgba(255, 255, 255, 0.5); }
      .wrapper .dashboard.card2 .collection .inventory .image {
        margin-top: 0%;
        width: 100%;
        height: 100%;
        background-image: url("/assets/OpenSymbol.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center center; }
        .wrapper .dashboard.card2 .collection .inventory .image .text {
          font-size: 21pt;
          text-align: center;
          padding-top: 60%;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #1b1c1f;
  box-shadow: 0px 2px 10px #00ff00;
  z-index: 100; }
  .nav .logo {
    float: left;
    font-size: 12pt;
    margin-left: 30px;
    margin-top: 40px;
    color: white;
    text-decoration: none; }
  .nav .nav-list {
    float: right;
    list-style-type: none;
    margin-top: 40px;
    margin-right: 30px; }
  .nav .nav-list li {
    display: inline; }
    .nav .nav-list li a {
      color: white;
      text-decoration: none;
      padding: 40px 15px; }
      .nav .nav-list li a:hover {
        background-color: rgba(0, 0, 0, 0.2); }
div#Open {
  align-items: center;
  justify-content: center;
  margin-top: 17%;
  width: 100%;
  height: 100%; }

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{ width:100%; box-sizing:border-box; float:left; position:relative; }
.grid_right { float:right; }
@media screen and (max-width:499px) {
				.xgrid_1 { width:8.3333333333333%; }
				.xpush_1 { left:8.3333333333333%; }
						.xgrid_1 .xgrid_1 { width:100%; }
						.xgrid_1 .xpush_1 { left:100%; }
				.xgrid_2 { width:16.666666666667%; }
				.xpush_2 { left:16.666666666667%; }
						.xgrid_2 .xgrid_1 { width:50%; }
						.xgrid_2 .xpush_1 { left:50%; }
						.xgrid_2 .xgrid_2 { width:100%; }
						.xgrid_2 .xpush_2 { left:100%; }
				.xgrid_3 { width:25%; }
				.xpush_3 { left:25%; }
						.xgrid_3 .xgrid_1 { width:33.333333333333%; }
						.xgrid_3 .xpush_1 { left:33.333333333333%; }
						.xgrid_3 .xgrid_2 { width:66.666666666667%; }
						.xgrid_3 .xpush_2 { left:66.666666666667%; }
						.xgrid_3 .xgrid_3 { width:100%; }
						.xgrid_3 .xpush_3 { left:100%; }
				.xgrid_4 { width:33.333333333333%; }
				.xpush_4 { left:33.333333333333%; }
						.xgrid_4 .xgrid_1 { width:25%; }
						.xgrid_4 .xpush_1 { left:25%; }
						.xgrid_4 .xgrid_2 { width:50%; }
						.xgrid_4 .xpush_2 { left:50%; }
						.xgrid_4 .xgrid_3 { width:75%; }
						.xgrid_4 .xpush_3 { left:75%; }
						.xgrid_4 .xgrid_4 { width:100%; }
						.xgrid_4 .xpush_4 { left:100%; }
				.xgrid_5 { width:41.666666666667%; }
				.xpush_5 { left:41.666666666667%; }
						.xgrid_5 .xgrid_1 { width:20%; }
						.xgrid_5 .xpush_1 { left:20%; }
						.xgrid_5 .xgrid_2 { width:40%; }
						.xgrid_5 .xpush_2 { left:40%; }
						.xgrid_5 .xgrid_3 { width:60%; }
						.xgrid_5 .xpush_3 { left:60%; }
						.xgrid_5 .xgrid_4 { width:80%; }
						.xgrid_5 .xpush_4 { left:80%; }
						.xgrid_5 .xgrid_5 { width:100%; }
						.xgrid_5 .xpush_5 { left:100%; }
				.xgrid_6 { width:50%; }
				.xpush_6 { left:50%; }
						.xgrid_6 .xgrid_1 { width:16.666666666667%; }
						.xgrid_6 .xpush_1 { left:16.666666666667%; }
						.xgrid_6 .xgrid_2 { width:33.333333333333%; }
						.xgrid_6 .xpush_2 { left:33.333333333333%; }
						.xgrid_6 .xgrid_3 { width:50%; }
						.xgrid_6 .xpush_3 { left:50%; }
						.xgrid_6 .xgrid_4 { width:66.666666666667%; }
						.xgrid_6 .xpush_4 { left:66.666666666667%; }
						.xgrid_6 .xgrid_5 { width:83.333333333333%; }
						.xgrid_6 .xpush_5 { left:83.333333333333%; }
						.xgrid_6 .xgrid_6 { width:100%; }
						.xgrid_6 .xpush_6 { left:100%; }
				.xgrid_7 { width:58.333333333333%; }
				.xpush_7 { left:58.333333333333%; }
						.xgrid_7 .xgrid_1 { width:14.285714285714%; }
						.xgrid_7 .xpush_1 { left:14.285714285714%; }
						.xgrid_7 .xgrid_2 { width:28.571428571429%; }
						.xgrid_7 .xpush_2 { left:28.571428571429%; }
						.xgrid_7 .xgrid_3 { width:42.857142857143%; }
						.xgrid_7 .xpush_3 { left:42.857142857143%; }
						.xgrid_7 .xgrid_4 { width:57.142857142857%; }
						.xgrid_7 .xpush_4 { left:57.142857142857%; }
						.xgrid_7 .xgrid_5 { width:71.428571428571%; }
						.xgrid_7 .xpush_5 { left:71.428571428571%; }
						.xgrid_7 .xgrid_6 { width:85.714285714286%; }
						.xgrid_7 .xpush_6 { left:85.714285714286%; }
						.xgrid_7 .xgrid_7 { width:100%; }
						.xgrid_7 .xpush_7 { left:100%; }
				.xgrid_8 { width:66.666666666667%; }
				.xpush_8 { left:66.666666666667%; }
						.xgrid_8 .xgrid_1 { width:12.5%; }
						.xgrid_8 .xpush_1 { left:12.5%; }
						.xgrid_8 .xgrid_2 { width:25%; }
						.xgrid_8 .xpush_2 { left:25%; }
						.xgrid_8 .xgrid_3 { width:37.5%; }
						.xgrid_8 .xpush_3 { left:37.5%; }
						.xgrid_8 .xgrid_4 { width:50%; }
						.xgrid_8 .xpush_4 { left:50%; }
						.xgrid_8 .xgrid_5 { width:62.5%; }
						.xgrid_8 .xpush_5 { left:62.5%; }
						.xgrid_8 .xgrid_6 { width:75%; }
						.xgrid_8 .xpush_6 { left:75%; }
						.xgrid_8 .xgrid_7 { width:87.5%; }
						.xgrid_8 .xpush_7 { left:87.5%; }
						.xgrid_8 .xgrid_8 { width:100%; }
						.xgrid_8 .xpush_8 { left:100%; }
				.xgrid_9 { width:75%; }
				.xpush_9 { left:75%; }
						.xgrid_9 .xgrid_1 { width:11.111111111111%; }
						.xgrid_9 .xpush_1 { left:11.111111111111%; }
						.xgrid_9 .xgrid_2 { width:22.222222222222%; }
						.xgrid_9 .xpush_2 { left:22.222222222222%; }
						.xgrid_9 .xgrid_3 { width:33.333333333333%; }
						.xgrid_9 .xpush_3 { left:33.333333333333%; }
						.xgrid_9 .xgrid_4 { width:44.444444444444%; }
						.xgrid_9 .xpush_4 { left:44.444444444444%; }
						.xgrid_9 .xgrid_5 { width:55.555555555556%; }
						.xgrid_9 .xpush_5 { left:55.555555555556%; }
						.xgrid_9 .xgrid_6 { width:66.666666666667%; }
						.xgrid_9 .xpush_6 { left:66.666666666667%; }
						.xgrid_9 .xgrid_7 { width:77.777777777778%; }
						.xgrid_9 .xpush_7 { left:77.777777777778%; }
						.xgrid_9 .xgrid_8 { width:88.888888888889%; }
						.xgrid_9 .xpush_8 { left:88.888888888889%; }
						.xgrid_9 .xgrid_9 { width:100%; }
						.xgrid_9 .xpush_9 { left:100%; }
				.xgrid_10 { width:83.333333333333%; }
				.xpush_10 { left:83.333333333333%; }
						.xgrid_10 .xgrid_1 { width:10%; }
						.xgrid_10 .xpush_1 { left:10%; }
						.xgrid_10 .xgrid_2 { width:20%; }
						.xgrid_10 .xpush_2 { left:20%; }
						.xgrid_10 .xgrid_3 { width:30%; }
						.xgrid_10 .xpush_3 { left:30%; }
						.xgrid_10 .xgrid_4 { width:40%; }
						.xgrid_10 .xpush_4 { left:40%; }
						.xgrid_10 .xgrid_5 { width:50%; }
						.xgrid_10 .xpush_5 { left:50%; }
						.xgrid_10 .xgrid_6 { width:60%; }
						.xgrid_10 .xpush_6 { left:60%; }
						.xgrid_10 .xgrid_7 { width:70%; }
						.xgrid_10 .xpush_7 { left:70%; }
						.xgrid_10 .xgrid_8 { width:80%; }
						.xgrid_10 .xpush_8 { left:80%; }
						.xgrid_10 .xgrid_9 { width:90%; }
						.xgrid_10 .xpush_9 { left:90%; }
						.xgrid_10 .xgrid_10 { width:100%; }
						.xgrid_10 .xpush_10 { left:100%; }
				.xgrid_11 { width:91.666666666667%; }
				.xpush_11 { left:91.666666666667%; }
						.xgrid_11 .xgrid_1 { width:9.0909090909091%; }
						.xgrid_11 .xpush_1 { left:9.0909090909091%; }
						.xgrid_11 .xgrid_2 { width:18.181818181818%; }
						.xgrid_11 .xpush_2 { left:18.181818181818%; }
						.xgrid_11 .xgrid_3 { width:27.272727272727%; }
						.xgrid_11 .xpush_3 { left:27.272727272727%; }
						.xgrid_11 .xgrid_4 { width:36.363636363636%; }
						.xgrid_11 .xpush_4 { left:36.363636363636%; }
						.xgrid_11 .xgrid_5 { width:45.454545454545%; }
						.xgrid_11 .xpush_5 { left:45.454545454545%; }
						.xgrid_11 .xgrid_6 { width:54.545454545455%; }
						.xgrid_11 .xpush_6 { left:54.545454545455%; }
						.xgrid_11 .xgrid_7 { width:63.636363636364%; }
						.xgrid_11 .xpush_7 { left:63.636363636364%; }
						.xgrid_11 .xgrid_8 { width:72.727272727273%; }
						.xgrid_11 .xpush_8 { left:72.727272727273%; }
						.xgrid_11 .xgrid_9 { width:81.818181818182%; }
						.xgrid_11 .xpush_9 { left:81.818181818182%; }
						.xgrid_11 .xgrid_10 { width:90.909090909091%; }
						.xgrid_11 .xpush_10 { left:90.909090909091%; }
						.xgrid_11 .xgrid_11 { width:100%; }
						.xgrid_11 .xpush_11 { left:100%; }
				.xgrid_12 { width:100%; }
				.xpush_12 { left:100%; }
						.xgrid_12 .xgrid_1 { width:8.3333333333333%; }
						.xgrid_12 .xpush_1 { left:8.3333333333333%; }
						.xgrid_12 .xgrid_2 { width:16.666666666667%; }
						.xgrid_12 .xpush_2 { left:16.666666666667%; }
						.xgrid_12 .xgrid_3 { width:25%; }
						.xgrid_12 .xpush_3 { left:25%; }
						.xgrid_12 .xgrid_4 { width:33.333333333333%; }
						.xgrid_12 .xpush_4 { left:33.333333333333%; }
						.xgrid_12 .xgrid_5 { width:41.666666666667%; }
						.xgrid_12 .xpush_5 { left:41.666666666667%; }
						.xgrid_12 .xgrid_6 { width:50%; }
						.xgrid_12 .xpush_6 { left:50%; }
						.xgrid_12 .xgrid_7 { width:58.333333333333%; }
						.xgrid_12 .xpush_7 { left:58.333333333333%; }
						.xgrid_12 .xgrid_8 { width:66.666666666667%; }
						.xgrid_12 .xpush_8 { left:66.666666666667%; }
						.xgrid_12 .xgrid_9 { width:75%; }
						.xgrid_12 .xpush_9 { left:75%; }
						.xgrid_12 .xgrid_10 { width:83.333333333333%; }
						.xgrid_12 .xpush_10 { left:83.333333333333%; }
						.xgrid_12 .xgrid_11 { width:91.666666666667%; }
						.xgrid_12 .xpush_11 { left:91.666666666667%; }
						.xgrid_12 .xgrid_12 { width:100%; }
						.xgrid_12 .xpush_12 { left:100%; }
			.xvcenter { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
}
@media screen and (min-width:500px) and (max-width:767px) {
				.sgrid_1 { width:8.3333333333333%; }
				.spush_1 { left:8.3333333333333%; }
						.sgrid_1 .sgrid_1 { width:100%; }
						.sgrid_1 .spush_1 { left:100%; }
				.sgrid_2 { width:16.666666666667%; }
				.spush_2 { left:16.666666666667%; }
						.sgrid_2 .sgrid_1 { width:50%; }
						.sgrid_2 .spush_1 { left:50%; }
						.sgrid_2 .sgrid_2 { width:100%; }
						.sgrid_2 .spush_2 { left:100%; }
				.sgrid_3 { width:25%; }
				.spush_3 { left:25%; }
						.sgrid_3 .sgrid_1 { width:33.333333333333%; }
						.sgrid_3 .spush_1 { left:33.333333333333%; }
						.sgrid_3 .sgrid_2 { width:66.666666666667%; }
						.sgrid_3 .spush_2 { left:66.666666666667%; }
						.sgrid_3 .sgrid_3 { width:100%; }
						.sgrid_3 .spush_3 { left:100%; }
				.sgrid_4 { width:33.333333333333%; }
				.spush_4 { left:33.333333333333%; }
						.sgrid_4 .sgrid_1 { width:25%; }
						.sgrid_4 .spush_1 { left:25%; }
						.sgrid_4 .sgrid_2 { width:50%; }
						.sgrid_4 .spush_2 { left:50%; }
						.sgrid_4 .sgrid_3 { width:75%; }
						.sgrid_4 .spush_3 { left:75%; }
						.sgrid_4 .sgrid_4 { width:100%; }
						.sgrid_4 .spush_4 { left:100%; }
				.sgrid_5 { width:41.666666666667%; }
				.spush_5 { left:41.666666666667%; }
						.sgrid_5 .sgrid_1 { width:20%; }
						.sgrid_5 .spush_1 { left:20%; }
						.sgrid_5 .sgrid_2 { width:40%; }
						.sgrid_5 .spush_2 { left:40%; }
						.sgrid_5 .sgrid_3 { width:60%; }
						.sgrid_5 .spush_3 { left:60%; }
						.sgrid_5 .sgrid_4 { width:80%; }
						.sgrid_5 .spush_4 { left:80%; }
						.sgrid_5 .sgrid_5 { width:100%; }
						.sgrid_5 .spush_5 { left:100%; }
				.sgrid_6 { width:50%; }
				.spush_6 { left:50%; }
						.sgrid_6 .sgrid_1 { width:16.666666666667%; }
						.sgrid_6 .spush_1 { left:16.666666666667%; }
						.sgrid_6 .sgrid_2 { width:33.333333333333%; }
						.sgrid_6 .spush_2 { left:33.333333333333%; }
						.sgrid_6 .sgrid_3 { width:50%; }
						.sgrid_6 .spush_3 { left:50%; }
						.sgrid_6 .sgrid_4 { width:66.666666666667%; }
						.sgrid_6 .spush_4 { left:66.666666666667%; }
						.sgrid_6 .sgrid_5 { width:83.333333333333%; }
						.sgrid_6 .spush_5 { left:83.333333333333%; }
						.sgrid_6 .sgrid_6 { width:100%; }
						.sgrid_6 .spush_6 { left:100%; }
				.sgrid_7 { width:58.333333333333%; }
				.spush_7 { left:58.333333333333%; }
						.sgrid_7 .sgrid_1 { width:14.285714285714%; }
						.sgrid_7 .spush_1 { left:14.285714285714%; }
						.sgrid_7 .sgrid_2 { width:28.571428571429%; }
						.sgrid_7 .spush_2 { left:28.571428571429%; }
						.sgrid_7 .sgrid_3 { width:42.857142857143%; }
						.sgrid_7 .spush_3 { left:42.857142857143%; }
						.sgrid_7 .sgrid_4 { width:57.142857142857%; }
						.sgrid_7 .spush_4 { left:57.142857142857%; }
						.sgrid_7 .sgrid_5 { width:71.428571428571%; }
						.sgrid_7 .spush_5 { left:71.428571428571%; }
						.sgrid_7 .sgrid_6 { width:85.714285714286%; }
						.sgrid_7 .spush_6 { left:85.714285714286%; }
						.sgrid_7 .sgrid_7 { width:100%; }
						.sgrid_7 .spush_7 { left:100%; }
				.sgrid_8 { width:66.666666666667%; }
				.spush_8 { left:66.666666666667%; }
						.sgrid_8 .sgrid_1 { width:12.5%; }
						.sgrid_8 .spush_1 { left:12.5%; }
						.sgrid_8 .sgrid_2 { width:25%; }
						.sgrid_8 .spush_2 { left:25%; }
						.sgrid_8 .sgrid_3 { width:37.5%; }
						.sgrid_8 .spush_3 { left:37.5%; }
						.sgrid_8 .sgrid_4 { width:50%; }
						.sgrid_8 .spush_4 { left:50%; }
						.sgrid_8 .sgrid_5 { width:62.5%; }
						.sgrid_8 .spush_5 { left:62.5%; }
						.sgrid_8 .sgrid_6 { width:75%; }
						.sgrid_8 .spush_6 { left:75%; }
						.sgrid_8 .sgrid_7 { width:87.5%; }
						.sgrid_8 .spush_7 { left:87.5%; }
						.sgrid_8 .sgrid_8 { width:100%; }
						.sgrid_8 .spush_8 { left:100%; }
				.sgrid_9 { width:75%; }
				.spush_9 { left:75%; }
						.sgrid_9 .sgrid_1 { width:11.111111111111%; }
						.sgrid_9 .spush_1 { left:11.111111111111%; }
						.sgrid_9 .sgrid_2 { width:22.222222222222%; }
						.sgrid_9 .spush_2 { left:22.222222222222%; }
						.sgrid_9 .sgrid_3 { width:33.333333333333%; }
						.sgrid_9 .spush_3 { left:33.333333333333%; }
						.sgrid_9 .sgrid_4 { width:44.444444444444%; }
						.sgrid_9 .spush_4 { left:44.444444444444%; }
						.sgrid_9 .sgrid_5 { width:55.555555555556%; }
						.sgrid_9 .spush_5 { left:55.555555555556%; }
						.sgrid_9 .sgrid_6 { width:66.666666666667%; }
						.sgrid_9 .spush_6 { left:66.666666666667%; }
						.sgrid_9 .sgrid_7 { width:77.777777777778%; }
						.sgrid_9 .spush_7 { left:77.777777777778%; }
						.sgrid_9 .sgrid_8 { width:88.888888888889%; }
						.sgrid_9 .spush_8 { left:88.888888888889%; }
						.sgrid_9 .sgrid_9 { width:100%; }
						.sgrid_9 .spush_9 { left:100%; }
				.sgrid_10 { width:83.333333333333%; }
				.spush_10 { left:83.333333333333%; }
						.sgrid_10 .sgrid_1 { width:10%; }
						.sgrid_10 .spush_1 { left:10%; }
						.sgrid_10 .sgrid_2 { width:20%; }
						.sgrid_10 .spush_2 { left:20%; }
						.sgrid_10 .sgrid_3 { width:30%; }
						.sgrid_10 .spush_3 { left:30%; }
						.sgrid_10 .sgrid_4 { width:40%; }
						.sgrid_10 .spush_4 { left:40%; }
						.sgrid_10 .sgrid_5 { width:50%; }
						.sgrid_10 .spush_5 { left:50%; }
						.sgrid_10 .sgrid_6 { width:60%; }
						.sgrid_10 .spush_6 { left:60%; }
						.sgrid_10 .sgrid_7 { width:70%; }
						.sgrid_10 .spush_7 { left:70%; }
						.sgrid_10 .sgrid_8 { width:80%; }
						.sgrid_10 .spush_8 { left:80%; }
						.sgrid_10 .sgrid_9 { width:90%; }
						.sgrid_10 .spush_9 { left:90%; }
						.sgrid_10 .sgrid_10 { width:100%; }
						.sgrid_10 .spush_10 { left:100%; }
				.sgrid_11 { width:91.666666666667%; }
				.spush_11 { left:91.666666666667%; }
						.sgrid_11 .sgrid_1 { width:9.0909090909091%; }
						.sgrid_11 .spush_1 { left:9.0909090909091%; }
						.sgrid_11 .sgrid_2 { width:18.181818181818%; }
						.sgrid_11 .spush_2 { left:18.181818181818%; }
						.sgrid_11 .sgrid_3 { width:27.272727272727%; }
						.sgrid_11 .spush_3 { left:27.272727272727%; }
						.sgrid_11 .sgrid_4 { width:36.363636363636%; }
						.sgrid_11 .spush_4 { left:36.363636363636%; }
						.sgrid_11 .sgrid_5 { width:45.454545454545%; }
						.sgrid_11 .spush_5 { left:45.454545454545%; }
						.sgrid_11 .sgrid_6 { width:54.545454545455%; }
						.sgrid_11 .spush_6 { left:54.545454545455%; }
						.sgrid_11 .sgrid_7 { width:63.636363636364%; }
						.sgrid_11 .spush_7 { left:63.636363636364%; }
						.sgrid_11 .sgrid_8 { width:72.727272727273%; }
						.sgrid_11 .spush_8 { left:72.727272727273%; }
						.sgrid_11 .sgrid_9 { width:81.818181818182%; }
						.sgrid_11 .spush_9 { left:81.818181818182%; }
						.sgrid_11 .sgrid_10 { width:90.909090909091%; }
						.sgrid_11 .spush_10 { left:90.909090909091%; }
						.sgrid_11 .sgrid_11 { width:100%; }
						.sgrid_11 .spush_11 { left:100%; }
				.sgrid_12 { width:100%; }
				.spush_12 { left:100%; }
						.sgrid_12 .sgrid_1 { width:8.3333333333333%; }
						.sgrid_12 .spush_1 { left:8.3333333333333%; }
						.sgrid_12 .sgrid_2 { width:16.666666666667%; }
						.sgrid_12 .spush_2 { left:16.666666666667%; }
						.sgrid_12 .sgrid_3 { width:25%; }
						.sgrid_12 .spush_3 { left:25%; }
						.sgrid_12 .sgrid_4 { width:33.333333333333%; }
						.sgrid_12 .spush_4 { left:33.333333333333%; }
						.sgrid_12 .sgrid_5 { width:41.666666666667%; }
						.sgrid_12 .spush_5 { left:41.666666666667%; }
						.sgrid_12 .sgrid_6 { width:50%; }
						.sgrid_12 .spush_6 { left:50%; }
						.sgrid_12 .sgrid_7 { width:58.333333333333%; }
						.sgrid_12 .spush_7 { left:58.333333333333%; }
						.sgrid_12 .sgrid_8 { width:66.666666666667%; }
						.sgrid_12 .spush_8 { left:66.666666666667%; }
						.sgrid_12 .sgrid_9 { width:75%; }
						.sgrid_12 .spush_9 { left:75%; }
						.sgrid_12 .sgrid_10 { width:83.333333333333%; }
						.sgrid_12 .spush_10 { left:83.333333333333%; }
						.sgrid_12 .sgrid_11 { width:91.666666666667%; }
						.sgrid_12 .spush_11 { left:91.666666666667%; }
						.sgrid_12 .sgrid_12 { width:100%; }
						.sgrid_12 .spush_12 { left:100%; }
			.svcenter { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
}
@media screen and (min-width:768px) and (max-width:1023px) {
				.mgrid_1 { width:8.3333333333333%; }
				.mpush_1 { left:8.3333333333333%; }
						.mgrid_1 .mgrid_1 { width:100%; }
						.mgrid_1 .mpush_1 { left:100%; }
				.mgrid_2 { width:16.666666666667%; }
				.mpush_2 { left:16.666666666667%; }
						.mgrid_2 .mgrid_1 { width:50%; }
						.mgrid_2 .mpush_1 { left:50%; }
						.mgrid_2 .mgrid_2 { width:100%; }
						.mgrid_2 .mpush_2 { left:100%; }
				.mgrid_3 { width:25%; }
				.mpush_3 { left:25%; }
						.mgrid_3 .mgrid_1 { width:33.333333333333%; }
						.mgrid_3 .mpush_1 { left:33.333333333333%; }
						.mgrid_3 .mgrid_2 { width:66.666666666667%; }
						.mgrid_3 .mpush_2 { left:66.666666666667%; }
						.mgrid_3 .mgrid_3 { width:100%; }
						.mgrid_3 .mpush_3 { left:100%; }
				.mgrid_4 { width:33.333333333333%; }
				.mpush_4 { left:33.333333333333%; }
						.mgrid_4 .mgrid_1 { width:25%; }
						.mgrid_4 .mpush_1 { left:25%; }
						.mgrid_4 .mgrid_2 { width:50%; }
						.mgrid_4 .mpush_2 { left:50%; }
						.mgrid_4 .mgrid_3 { width:75%; }
						.mgrid_4 .mpush_3 { left:75%; }
						.mgrid_4 .mgrid_4 { width:100%; }
						.mgrid_4 .mpush_4 { left:100%; }
				.mgrid_5 { width:41.666666666667%; }
				.mpush_5 { left:41.666666666667%; }
						.mgrid_5 .mgrid_1 { width:20%; }
						.mgrid_5 .mpush_1 { left:20%; }
						.mgrid_5 .mgrid_2 { width:40%; }
						.mgrid_5 .mpush_2 { left:40%; }
						.mgrid_5 .mgrid_3 { width:60%; }
						.mgrid_5 .mpush_3 { left:60%; }
						.mgrid_5 .mgrid_4 { width:80%; }
						.mgrid_5 .mpush_4 { left:80%; }
						.mgrid_5 .mgrid_5 { width:100%; }
						.mgrid_5 .mpush_5 { left:100%; }
				.mgrid_6 { width:50%; }
				.mpush_6 { left:50%; }
						.mgrid_6 .mgrid_1 { width:16.666666666667%; }
						.mgrid_6 .mpush_1 { left:16.666666666667%; }
						.mgrid_6 .mgrid_2 { width:33.333333333333%; }
						.mgrid_6 .mpush_2 { left:33.333333333333%; }
						.mgrid_6 .mgrid_3 { width:50%; }
						.mgrid_6 .mpush_3 { left:50%; }
						.mgrid_6 .mgrid_4 { width:66.666666666667%; }
						.mgrid_6 .mpush_4 { left:66.666666666667%; }
						.mgrid_6 .mgrid_5 { width:83.333333333333%; }
						.mgrid_6 .mpush_5 { left:83.333333333333%; }
						.mgrid_6 .mgrid_6 { width:100%; }
						.mgrid_6 .mpush_6 { left:100%; }
				.mgrid_7 { width:58.333333333333%; }
				.mpush_7 { left:58.333333333333%; }
						.mgrid_7 .mgrid_1 { width:14.285714285714%; }
						.mgrid_7 .mpush_1 { left:14.285714285714%; }
						.mgrid_7 .mgrid_2 { width:28.571428571429%; }
						.mgrid_7 .mpush_2 { left:28.571428571429%; }
						.mgrid_7 .mgrid_3 { width:42.857142857143%; }
						.mgrid_7 .mpush_3 { left:42.857142857143%; }
						.mgrid_7 .mgrid_4 { width:57.142857142857%; }
						.mgrid_7 .mpush_4 { left:57.142857142857%; }
						.mgrid_7 .mgrid_5 { width:71.428571428571%; }
						.mgrid_7 .mpush_5 { left:71.428571428571%; }
						.mgrid_7 .mgrid_6 { width:85.714285714286%; }
						.mgrid_7 .mpush_6 { left:85.714285714286%; }
						.mgrid_7 .mgrid_7 { width:100%; }
						.mgrid_7 .mpush_7 { left:100%; }
				.mgrid_8 { width:66.666666666667%; }
				.mpush_8 { left:66.666666666667%; }
						.mgrid_8 .mgrid_1 { width:12.5%; }
						.mgrid_8 .mpush_1 { left:12.5%; }
						.mgrid_8 .mgrid_2 { width:25%; }
						.mgrid_8 .mpush_2 { left:25%; }
						.mgrid_8 .mgrid_3 { width:37.5%; }
						.mgrid_8 .mpush_3 { left:37.5%; }
						.mgrid_8 .mgrid_4 { width:50%; }
						.mgrid_8 .mpush_4 { left:50%; }
						.mgrid_8 .mgrid_5 { width:62.5%; }
						.mgrid_8 .mpush_5 { left:62.5%; }
						.mgrid_8 .mgrid_6 { width:75%; }
						.mgrid_8 .mpush_6 { left:75%; }
						.mgrid_8 .mgrid_7 { width:87.5%; }
						.mgrid_8 .mpush_7 { left:87.5%; }
						.mgrid_8 .mgrid_8 { width:100%; }
						.mgrid_8 .mpush_8 { left:100%; }
				.mgrid_9 { width:75%; }
				.mpush_9 { left:75%; }
						.mgrid_9 .mgrid_1 { width:11.111111111111%; }
						.mgrid_9 .mpush_1 { left:11.111111111111%; }
						.mgrid_9 .mgrid_2 { width:22.222222222222%; }
						.mgrid_9 .mpush_2 { left:22.222222222222%; }
						.mgrid_9 .mgrid_3 { width:33.333333333333%; }
						.mgrid_9 .mpush_3 { left:33.333333333333%; }
						.mgrid_9 .mgrid_4 { width:44.444444444444%; }
						.mgrid_9 .mpush_4 { left:44.444444444444%; }
						.mgrid_9 .mgrid_5 { width:55.555555555556%; }
						.mgrid_9 .mpush_5 { left:55.555555555556%; }
						.mgrid_9 .mgrid_6 { width:66.666666666667%; }
						.mgrid_9 .mpush_6 { left:66.666666666667%; }
						.mgrid_9 .mgrid_7 { width:77.777777777778%; }
						.mgrid_9 .mpush_7 { left:77.777777777778%; }
						.mgrid_9 .mgrid_8 { width:88.888888888889%; }
						.mgrid_9 .mpush_8 { left:88.888888888889%; }
						.mgrid_9 .mgrid_9 { width:100%; }
						.mgrid_9 .mpush_9 { left:100%; }
				.mgrid_10 { width:83.333333333333%; }
				.mpush_10 { left:83.333333333333%; }
						.mgrid_10 .mgrid_1 { width:10%; }
						.mgrid_10 .mpush_1 { left:10%; }
						.mgrid_10 .mgrid_2 { width:20%; }
						.mgrid_10 .mpush_2 { left:20%; }
						.mgrid_10 .mgrid_3 { width:30%; }
						.mgrid_10 .mpush_3 { left:30%; }
						.mgrid_10 .mgrid_4 { width:40%; }
						.mgrid_10 .mpush_4 { left:40%; }
						.mgrid_10 .mgrid_5 { width:50%; }
						.mgrid_10 .mpush_5 { left:50%; }
						.mgrid_10 .mgrid_6 { width:60%; }
						.mgrid_10 .mpush_6 { left:60%; }
						.mgrid_10 .mgrid_7 { width:70%; }
						.mgrid_10 .mpush_7 { left:70%; }
						.mgrid_10 .mgrid_8 { width:80%; }
						.mgrid_10 .mpush_8 { left:80%; }
						.mgrid_10 .mgrid_9 { width:90%; }
						.mgrid_10 .mpush_9 { left:90%; }
						.mgrid_10 .mgrid_10 { width:100%; }
						.mgrid_10 .mpush_10 { left:100%; }
				.mgrid_11 { width:91.666666666667%; }
				.mpush_11 { left:91.666666666667%; }
						.mgrid_11 .mgrid_1 { width:9.0909090909091%; }
						.mgrid_11 .mpush_1 { left:9.0909090909091%; }
						.mgrid_11 .mgrid_2 { width:18.181818181818%; }
						.mgrid_11 .mpush_2 { left:18.181818181818%; }
						.mgrid_11 .mgrid_3 { width:27.272727272727%; }
						.mgrid_11 .mpush_3 { left:27.272727272727%; }
						.mgrid_11 .mgrid_4 { width:36.363636363636%; }
						.mgrid_11 .mpush_4 { left:36.363636363636%; }
						.mgrid_11 .mgrid_5 { width:45.454545454545%; }
						.mgrid_11 .mpush_5 { left:45.454545454545%; }
						.mgrid_11 .mgrid_6 { width:54.545454545455%; }
						.mgrid_11 .mpush_6 { left:54.545454545455%; }
						.mgrid_11 .mgrid_7 { width:63.636363636364%; }
						.mgrid_11 .mpush_7 { left:63.636363636364%; }
						.mgrid_11 .mgrid_8 { width:72.727272727273%; }
						.mgrid_11 .mpush_8 { left:72.727272727273%; }
						.mgrid_11 .mgrid_9 { width:81.818181818182%; }
						.mgrid_11 .mpush_9 { left:81.818181818182%; }
						.mgrid_11 .mgrid_10 { width:90.909090909091%; }
						.mgrid_11 .mpush_10 { left:90.909090909091%; }
						.mgrid_11 .mgrid_11 { width:100%; }
						.mgrid_11 .mpush_11 { left:100%; }
				.mgrid_12 { width:100%; }
				.mpush_12 { left:100%; }
						.mgrid_12 .mgrid_1 { width:8.3333333333333%; }
						.mgrid_12 .mpush_1 { left:8.3333333333333%; }
						.mgrid_12 .mgrid_2 { width:16.666666666667%; }
						.mgrid_12 .mpush_2 { left:16.666666666667%; }
						.mgrid_12 .mgrid_3 { width:25%; }
						.mgrid_12 .mpush_3 { left:25%; }
						.mgrid_12 .mgrid_4 { width:33.333333333333%; }
						.mgrid_12 .mpush_4 { left:33.333333333333%; }
						.mgrid_12 .mgrid_5 { width:41.666666666667%; }
						.mgrid_12 .mpush_5 { left:41.666666666667%; }
						.mgrid_12 .mgrid_6 { width:50%; }
						.mgrid_12 .mpush_6 { left:50%; }
						.mgrid_12 .mgrid_7 { width:58.333333333333%; }
						.mgrid_12 .mpush_7 { left:58.333333333333%; }
						.mgrid_12 .mgrid_8 { width:66.666666666667%; }
						.mgrid_12 .mpush_8 { left:66.666666666667%; }
						.mgrid_12 .mgrid_9 { width:75%; }
						.mgrid_12 .mpush_9 { left:75%; }
						.mgrid_12 .mgrid_10 { width:83.333333333333%; }
						.mgrid_12 .mpush_10 { left:83.333333333333%; }
						.mgrid_12 .mgrid_11 { width:91.666666666667%; }
						.mgrid_12 .mpush_11 { left:91.666666666667%; }
						.mgrid_12 .mgrid_12 { width:100%; }
						.mgrid_12 .mpush_12 { left:100%; }
			.mvcenter { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
}
@media screen and (min-width:1024px) {
				.grid_1 { width:8.3333333333333%; }
				.push_1 { left:8.3333333333333%; }
						.grid_1 .grid_1 { width:100%; }
						.grid_1 .push_1 { left:100%; }
				.grid_2 { width:16.666666666667%; }
				.push_2 { left:16.666666666667%; }
						.grid_2 .grid_1 { width:50%; }
						.grid_2 .push_1 { left:50%; }
						.grid_2 .grid_2 { width:100%; }
						.grid_2 .push_2 { left:100%; }
				.grid_3 { width:25%; }
				.push_3 { left:25%; }
						.grid_3 .grid_1 { width:33.333333333333%; }
						.grid_3 .push_1 { left:33.333333333333%; }
						.grid_3 .grid_2 { width:66.666666666667%; }
						.grid_3 .push_2 { left:66.666666666667%; }
						.grid_3 .grid_3 { width:100%; }
						.grid_3 .push_3 { left:100%; }
				.grid_4 { width:33.333333333333%; }
				.push_4 { left:33.333333333333%; }
						.grid_4 .grid_1 { width:25%; }
						.grid_4 .push_1 { left:25%; }
						.grid_4 .grid_2 { width:50%; }
						.grid_4 .push_2 { left:50%; }
						.grid_4 .grid_3 { width:75%; }
						.grid_4 .push_3 { left:75%; }
						.grid_4 .grid_4 { width:100%; }
						.grid_4 .push_4 { left:100%; }
				.grid_5 { width:41.666666666667%; }
				.push_5 { left:41.666666666667%; }
						.grid_5 .grid_1 { width:20%; }
						.grid_5 .push_1 { left:20%; }
						.grid_5 .grid_2 { width:40%; }
						.grid_5 .push_2 { left:40%; }
						.grid_5 .grid_3 { width:60%; }
						.grid_5 .push_3 { left:60%; }
						.grid_5 .grid_4 { width:80%; }
						.grid_5 .push_4 { left:80%; }
						.grid_5 .grid_5 { width:100%; }
						.grid_5 .push_5 { left:100%; }
				.grid_6 { width:50%; }
				.push_6 { left:50%; }
						.grid_6 .grid_1 { width:16.666666666667%; }
						.grid_6 .push_1 { left:16.666666666667%; }
						.grid_6 .grid_2 { width:33.333333333333%; }
						.grid_6 .push_2 { left:33.333333333333%; }
						.grid_6 .grid_3 { width:50%; }
						.grid_6 .push_3 { left:50%; }
						.grid_6 .grid_4 { width:66.666666666667%; }
						.grid_6 .push_4 { left:66.666666666667%; }
						.grid_6 .grid_5 { width:83.333333333333%; }
						.grid_6 .push_5 { left:83.333333333333%; }
						.grid_6 .grid_6 { width:100%; }
						.grid_6 .push_6 { left:100%; }
				.grid_7 { width:58.333333333333%; }
				.push_7 { left:58.333333333333%; }
						.grid_7 .grid_1 { width:14.285714285714%; }
						.grid_7 .push_1 { left:14.285714285714%; }
						.grid_7 .grid_2 { width:28.571428571429%; }
						.grid_7 .push_2 { left:28.571428571429%; }
						.grid_7 .grid_3 { width:42.857142857143%; }
						.grid_7 .push_3 { left:42.857142857143%; }
						.grid_7 .grid_4 { width:57.142857142857%; }
						.grid_7 .push_4 { left:57.142857142857%; }
						.grid_7 .grid_5 { width:71.428571428571%; }
						.grid_7 .push_5 { left:71.428571428571%; }
						.grid_7 .grid_6 { width:85.714285714286%; }
						.grid_7 .push_6 { left:85.714285714286%; }
						.grid_7 .grid_7 { width:100%; }
						.grid_7 .push_7 { left:100%; }
				.grid_8 { width:66.666666666667%; }
				.push_8 { left:66.666666666667%; }
						.grid_8 .grid_1 { width:12.5%; }
						.grid_8 .push_1 { left:12.5%; }
						.grid_8 .grid_2 { width:25%; }
						.grid_8 .push_2 { left:25%; }
						.grid_8 .grid_3 { width:37.5%; }
						.grid_8 .push_3 { left:37.5%; }
						.grid_8 .grid_4 { width:50%; }
						.grid_8 .push_4 { left:50%; }
						.grid_8 .grid_5 { width:62.5%; }
						.grid_8 .push_5 { left:62.5%; }
						.grid_8 .grid_6 { width:75%; }
						.grid_8 .push_6 { left:75%; }
						.grid_8 .grid_7 { width:87.5%; }
						.grid_8 .push_7 { left:87.5%; }
						.grid_8 .grid_8 { width:100%; }
						.grid_8 .push_8 { left:100%; }
				.grid_9 { width:75%; }
				.push_9 { left:75%; }
						.grid_9 .grid_1 { width:11.111111111111%; }
						.grid_9 .push_1 { left:11.111111111111%; }
						.grid_9 .grid_2 { width:22.222222222222%; }
						.grid_9 .push_2 { left:22.222222222222%; }
						.grid_9 .grid_3 { width:33.333333333333%; }
						.grid_9 .push_3 { left:33.333333333333%; }
						.grid_9 .grid_4 { width:44.444444444444%; }
						.grid_9 .push_4 { left:44.444444444444%; }
						.grid_9 .grid_5 { width:55.555555555556%; }
						.grid_9 .push_5 { left:55.555555555556%; }
						.grid_9 .grid_6 { width:66.666666666667%; }
						.grid_9 .push_6 { left:66.666666666667%; }
						.grid_9 .grid_7 { width:77.777777777778%; }
						.grid_9 .push_7 { left:77.777777777778%; }
						.grid_9 .grid_8 { width:88.888888888889%; }
						.grid_9 .push_8 { left:88.888888888889%; }
						.grid_9 .grid_9 { width:100%; }
						.grid_9 .push_9 { left:100%; }
				.grid_10 { width:83.333333333333%; }
				.push_10 { left:83.333333333333%; }
						.grid_10 .grid_1 { width:10%; }
						.grid_10 .push_1 { left:10%; }
						.grid_10 .grid_2 { width:20%; }
						.grid_10 .push_2 { left:20%; }
						.grid_10 .grid_3 { width:30%; }
						.grid_10 .push_3 { left:30%; }
						.grid_10 .grid_4 { width:40%; }
						.grid_10 .push_4 { left:40%; }
						.grid_10 .grid_5 { width:50%; }
						.grid_10 .push_5 { left:50%; }
						.grid_10 .grid_6 { width:60%; }
						.grid_10 .push_6 { left:60%; }
						.grid_10 .grid_7 { width:70%; }
						.grid_10 .push_7 { left:70%; }
						.grid_10 .grid_8 { width:80%; }
						.grid_10 .push_8 { left:80%; }
						.grid_10 .grid_9 { width:90%; }
						.grid_10 .push_9 { left:90%; }
						.grid_10 .grid_10 { width:100%; }
						.grid_10 .push_10 { left:100%; }
				.grid_11 { width:91.666666666667%; }
				.push_11 { left:91.666666666667%; }
						.grid_11 .grid_1 { width:9.0909090909091%; }
						.grid_11 .push_1 { left:9.0909090909091%; }
						.grid_11 .grid_2 { width:18.181818181818%; }
						.grid_11 .push_2 { left:18.181818181818%; }
						.grid_11 .grid_3 { width:27.272727272727%; }
						.grid_11 .push_3 { left:27.272727272727%; }
						.grid_11 .grid_4 { width:36.363636363636%; }
						.grid_11 .push_4 { left:36.363636363636%; }
						.grid_11 .grid_5 { width:45.454545454545%; }
						.grid_11 .push_5 { left:45.454545454545%; }
						.grid_11 .grid_6 { width:54.545454545455%; }
						.grid_11 .push_6 { left:54.545454545455%; }
						.grid_11 .grid_7 { width:63.636363636364%; }
						.grid_11 .push_7 { left:63.636363636364%; }
						.grid_11 .grid_8 { width:72.727272727273%; }
						.grid_11 .push_8 { left:72.727272727273%; }
						.grid_11 .grid_9 { width:81.818181818182%; }
						.grid_11 .push_9 { left:81.818181818182%; }
						.grid_11 .grid_10 { width:90.909090909091%; }
						.grid_11 .push_10 { left:90.909090909091%; }
						.grid_11 .grid_11 { width:100%; }
						.grid_11 .push_11 { left:100%; }
				.grid_12 { width:100%; }
				.push_12 { left:100%; }
						.grid_12 .grid_1 { width:8.3333333333333%; }
						.grid_12 .push_1 { left:8.3333333333333%; }
						.grid_12 .grid_2 { width:16.666666666667%; }
						.grid_12 .push_2 { left:16.666666666667%; }
						.grid_12 .grid_3 { width:25%; }
						.grid_12 .push_3 { left:25%; }
						.grid_12 .grid_4 { width:33.333333333333%; }
						.grid_12 .push_4 { left:33.333333333333%; }
						.grid_12 .grid_5 { width:41.666666666667%; }
						.grid_12 .push_5 { left:41.666666666667%; }
						.grid_12 .grid_6 { width:50%; }
						.grid_12 .push_6 { left:50%; }
						.grid_12 .grid_7 { width:58.333333333333%; }
						.grid_12 .push_7 { left:58.333333333333%; }
						.grid_12 .grid_8 { width:66.666666666667%; }
						.grid_12 .push_8 { left:66.666666666667%; }
						.grid_12 .grid_9 { width:75%; }
						.grid_12 .push_9 { left:75%; }
						.grid_12 .grid_10 { width:83.333333333333%; }
						.grid_12 .push_10 { left:83.333333333333%; }
						.grid_12 .grid_11 { width:91.666666666667%; }
						.grid_12 .push_11 { left:91.666666666667%; }
						.grid_12 .grid_12 { width:100%; }
						.grid_12 .push_12 { left:100%; }
			.vcenter { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
}
.grid_1.wrapper,.grid_2.wrapper,.grid_3.wrapper,.grid_4.wrapper,.grid_5.wrapper,.grid_6.wrapper,.grid_7.wrapper,.grid_8.wrapper,.grid_9.wrapper,.grid_10.wrapper,.grid_11.wrapper,.grid_12.wrapper{ padding:0; }

		.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
		.clearfix:after {content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
		.clearme {clear:both;}
		.fullsize {max-width:100%;}
		.bbox {box-sizing:border-box;}
		.prel {position:relative;}
		.hide {display:none;}