div[id="cards"] {
  float: left;
  margin: auto;
  overflow: auto;
  max-height: none;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  width: 60%;
  height: auto; }
  @media screen and (min-width: 1255px) {
    div[id="cards"] {
      border-right: 1px solid rgba(255, 255, 255, 0.5); } }
  @media screen and (max-width: 1255px) {
    div[id="cards"] {
      width: 100%; } }

div[id="cardsinner"] {
  margin: auto; }

div[id="maincard"] {
  margin: auto;
  margin-top: 130px;
  width: min-content;
  margin-right: 100px;
  float: unset;
  height: auto; }
  @media screen and (min-width: 1255px) {
    div[id="maincard"] {
      float: right; } }
  @media screen and (max-width: 1255px) {
    div[id="maincard"] {
      margin-right: auto;
      height: 600px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); } }
