.content {
  width: 100%;
  height: 100vh; }
  .content .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #25282f;
    padding: 40px;
    text-align: center; }
    .content .card input[type="text"], .content .card input[type="password"] {
      color: #fff;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid rgba(0, 255, 0, 0.25);
      width: 280px;
      outline: none;
      padding: 10px 4px;
      border-radius: 25px; }
      .content .card input[type="text"]:hover, .content .card input[type="password"]:hover {
        border-color: #00ff00;
        transition: border 0.2s ease-in-out; }
    .content .card input[type="submit"] {
      color: black;
      padding: 10px 30px;
      border: 2px solid #00ff00;
      background-color: #00ff00;
      border-radius: 25px; }
      .content .card input[type="submit"]:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        transition: background 0.2s ease-in-out; }
