.wrapper {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 120px);
  margin-top: 120px; }
  .wrapper .dashboard.card2 {
    position: relative;
    width: calc(90% - 40px);
    min-height: calc(70vh - 40px);
    margin: 5%;
    padding: 20px;
    background-color: #25282f; }
    .wrapper .dashboard.card2 .menu {
      height: auto;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      .wrapper .dashboard.card2 .menu #username {
        display: inline-block;
        font-size: 3em;
        font-family: 'Oswald';
        font-weight: 700;
        text-transform: uppercase; }
      .wrapper .dashboard.card2 .menu #settings {
        position: relative;
        float: right;
        color: #979CA7;
        transition: transform 1s;
        margin-top: 10px;
        margin-right: 10px; }
        .wrapper .dashboard.card2 .menu #settings:hover {
          color: #fff;
          -webkit-animation: rotating 5s linear infinite;
          -moz-animation: rotating 5s linear infinite;
          -ms-animation: rotating 5s linear infinite;
          -o-animation: rotating 5s linear infinite;
          animation: rotating 5s linear infinite; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
