.content {
  width: 100%;
  height: calc(100vh - 120px);
  margin-top: 120px; }
  .content .card2 {
    width: 90%;
    height: 80%;
    margin: 5%;
    background-color: #25282f; }
    .content .card2 .content {
      margin: 20px; }
      .content .card2 .content #username {
        float: left;
        font-size: 3em;
        font-family: 'Oswald';
        font-weight: 700;
        text-transform: uppercase; }
      .content .card2 .content #settings {
        float: right;
        color: #979CA7;
        transition: transform 1s; }
        .content .card2 .content #settings:hover {
          color: #fff;
          transform: rotate(40deg); }
