.wrapper {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 120px);
  margin-top: 120px; }
  .wrapper .dashboard.card2 {
    position: relative;
    width: calc(90% - 40px);
    min-height: calc(70vh - 40px);
    margin: 5%;
    padding: 20px;
    background-color: #25282f; }
    .wrapper .dashboard.card2 #username {
      position: relative;
      float: left;
      font-size: 3em;
      font-family: 'Oswald';
      font-weight: 700;
      text-transform: uppercase; }
    .wrapper .dashboard.card2 #settings {
      position: relative;
      float: right;
      color: #979CA7;
      transition: transform 1s; }
      .wrapper .dashboard.card2 #settings:hover {
        color: #fff;
        transform: rotate(40deg); }
