.radio_wrap {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: fit-content;
  height: 30px; }

.radio {
  margin-left: 50px;
  margin-right: 50px;
  float: left;
  font-size: 1.5rem;
  color: #fff;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em; }

.radio__input {
  display: flex; }
  .radio__input input {
    opacity: 0;
    width: 0;
    height: 0; }
    .radio__input input:checked + .radio__control {
      background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%); }

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em); }

.radio__label {
  padding: auto;
  font-size: 2rem;
  line-height: 1; }

input[type="search"] {
  color: #fff;
  background: transparent;
  display: block;
  text-align: center;
  border: 2px solid  #fff;
  width: 70%;
  outline: none;
  margin-top: 50px;
  padding: 10px 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px; }
  input[type="search"]:focus {
    border-color: #fff;
    transition: border 0.2s ease-in-out; }

input[name="submit"] {
  color: #fff;
  padding: 10px 30px;
  margin-top: 1%;
  margin-left: 30%;
  width: 40%;
  outline: none;
  border: 2px solid  #fff;
  background-color: transparent;
  border-radius: 25px; }
  input[name="submit"]:enabled:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in-out; }
  input[name="submit"]:active {
    border-color: #ffffff; }
  input[name="submit"]:disabled {
    background-color: transparent;
    border-color: #fff; }

div#inventory {
  margin: auto;
  overflow: auto;
  max-height: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto; }
