.packwrapper {
  position: relative;
  min-width: 200px;
  width: 100%;
  height: auto;
  padding: 150px 0px 0px 0px; }

div#Open {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 255px;
  height: 400px; }
