.wrapper {
  padding: 150px 0px 0px 30px; }
  .wrapper .pass_change {
    padding: 0px 0px 2% 0px;
    margin: 0px 60% 0px 0px;
    background-color: #1b1c1f;
    box-shadow: 0px 2px 10px #b047ca; }
    .wrapper .pass_change .pass_change_top {
      padding: 0px 0px 15px 0px;
      box-shadow: 0px 2px 10px #b047ca; }
      .wrapper .pass_change .pass_change_top .pass_change_text {
        padding: 20px 0px 0px 25%; }
    .wrapper .pass_change .pass_change_input1, .wrapper .pass_change .pass_change_input2 {
      color: #fff;
      background: none;
      display: block;
      text-align: center;
      border: 2px solid #b047ca;
      width: 70%;
      outline: none;
      margin: 20px auto;
      padding: 10px 4px;
      border-radius: 25px; }
      .wrapper .pass_change .pass_change_input1:focus, .wrapper .pass_change .pass_change_input2:focus {
        border-color: #fff;
        transition: border 0.2s ease-in-out; }
    .wrapper .pass_change .pass_change_button {
      color: black;
      padding: 10px 30px;
      margin: 0px 0px 0px 29%;
      width: 40%;
      outline: none;
      border: 2px solid #b047ca;
      background-color: #b047ca;
      border-radius: 25px; }
      .wrapper .pass_change .pass_change_button:enabled:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        transition: background 0.2s ease-in-out; }
      .wrapper .pass_change .pass_change_button:active {
        border-color: #ffffff; }
      .wrapper .pass_change .pass_change_button:disabled {
        background-color: #202320;
        border-color: #202320; }
