.wrapper .settings {
  min-width: 350px;
  margin-left: 7%; }
  .wrapper .settings .pass_change {
    text-align: center;
    padding: 0px 0px 2% 0px;
    width: 300px;
    background-color: #25282f; }
    .wrapper .settings .pass_change .pass_change_top {
      padding: 10px 0px 15px 0px; }
      .wrapper .settings .pass_change .pass_change_top .pass_change_text {
        font-size: 19pt;
        padding: 2% 0px 0px 0%; }
    .wrapper .settings .pass_change input[type="password"] {
      color: #0a0909;
      margin: auto;
      margin-top: 10px;
      background: none;
      display: block;
      text-align: center;
      border: 2px solid #00ff00;
      width: 70%;
      outline: none;
      padding: 10px 4px;
      border-radius: 25px; }
      .wrapper .settings .pass_change input[type="password"]:focus {
        border-color: #fff;
        transition: border 0.2s ease-in-out; }
    .wrapper .settings .pass_change input[name="submit"] {
      color: black;
      padding: 10px 30px;
      width: 40%;
      margin: auto;
      margin-top: 10px;
      outline: none;
      border: 2px solid #00ff00;
      background-color: #00ff00;
      border-radius: 25px; }
      .wrapper .settings .pass_change input[name="submit"]:enabled:hover {
        color: #0a0909;
        background-color: rgba(0, 0, 0, 0);
        transition: background 0.2s ease-in-out; }
      .wrapper .settings .pass_change input[name="submit"]:active {
        border-color: #ffffff; }
      .wrapper .settings .pass_change input[name="submit"]:disabled {
        background-color: #202320;
        border-color: #202320; }
