.trade {
  display: block;
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 140px;
  width: 100%;
  height: auto;
  overflow: auto; }
  .trade #tradeself {
    position: relative;
    width: 100%;
    max-height: none;
    align-items: center;
    justify-content: center;
    min-height: 440px; }
    @media screen and (min-width: 540px) {
      .trade #tradeself {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        float: left;
        width: calc(50% - 1px); } }
    @media screen and (max-width: 540px) {
      .trade #tradeself {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 20px; } }
    .trade #tradeself #tradeselfinner {
      max-height: none;
      height: auto;
      overflow: auto;
      margin: auto;
      margin-top: 30px; }
  .trade #tradeother {
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    min-height: 440px; }
    @media screen and (min-width: 540px) {
      .trade #tradeother {
        float: right;
        width: 50%; } }
    .trade #tradeother #tradeotherinner {
      height: auto;
      margin: auto;
      margin-top: 30px; }
  .trade .name {
    color: white;
    font-size: 20pt;
    text-align: center; }
  .trade .addtrade {
    color: #f7f7f7;
    background: none;
    text-align: center;
    border: 2px solid #00ff00;
    width: 70%;
    outline: none;
    margin: auto;
    margin-top: 8px;
    padding: 10px 4px;
    border-radius: 25px; }
    .trade .addtrade:focus {
      border-color: #fff;
      transition: border 0.2s ease-in-out; }
  .trade .oktrade {
    color: #f7f7f7;
    background: none;
    text-align: center;
    border: 2px solid #00ff00;
    width: 70%;
    outline: none;
    margin: auto;
    margin-top: 8px;
    padding: 10px 4px;
    border-radius: 25px; }
    .trade .oktrade:focus {
      border-color: #fff;
      transition: border 0.2s ease-in-out; }
