.box.mailbox {
  margin-top: 80px;
  padding: 50px 0 50px 0; }
  .box.mailbox .info {
    padding: 0 30px 0 30px;
    font-size: 24pt;
    text-align: center; }
    @media screen and (max-width: 600px) {
      .box.mailbox .info {
        padding: 0 10px 0 10px;
        font-size: 12pt; } }
  .box.mailbox .links {
    color: white;
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 16pt; }
    .box.mailbox .links:link {
      color: inherit; }
    @media screen and (max-width: 600px) {
      .box.mailbox .links {
        font-size: 8pt; } }

input[type="mail"] {
  color: white;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.25);
  width: 280px;
  outline: none;
  margin: 20px auto;
  padding: 10px 4px;
  border-radius: 25px; }
  @media screen and (max-width: 400px) {
    input[type="mail"] {
      width: 180px; } }
  input[type="mail"]:hover {
    border-color: #f7f7f7;
    transition: border 0.2s ease-in-out; }

.wrong {
  border-color: red !important; }

input[type="submit"] {
  color: black;
  padding: 10px 30px;
  display: block;
  margin: auto;
  border: 2px solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 25px; }
  input[type="submit"]:enabled:hover {
    color: #0a0909;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in-out; }
  input[type="submit"]:disabled {
    background-color: #202320;
    border-color: #202320; }
