<div *ngVar="(collector$ | async) as collector">
	<div *ngIf="collector != null">
		<cc-collector-banner [editable]="true" [collector]="collector"></cc-collector-banner>
		<div class="head">
			<div class="collector-image">
				<cc-collector-image [editable]="true" [collector]="collector"></cc-collector-image>
			</div>
			<div class="info">
				<div class="name-wrapper">
					<h2 class="name">{{collector.name}}</h2>
				</div>
				<p class="description">...desc...</p>
			</div>
		</div>
	</div>
</div>
