.register-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	margin-top: 200px;
	
	.register {
		display: flex;
		flex-direction: column;

		width: 400px;
		gap: 30px;
		padding: 30px;

		.error {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 100%;
		}
	}
}
