<div class="nav">

    <a href="/" class="logo">

        <h1>WaifuCollector</h1>

    </a>

    <ul class="nav-list">

        <li><a href="./login">Login</a></li>
        <li><a href="./register">Register</a></li>

    </ul>

</div>