<div class="nav">

    <a href="/" class="logo">

        <h1>WaifuCollector</h1>

    </a>

    <ul class="nav-list">

        <%if (userID) { %>

            <%if (locals.rankID && rankID == 1) { %>

            <li><a href="./adminpanel">Adminpanel</a></li>

            <% } %>

        <li><a href="./dashboard">Dashboard</a></li>
        <li><a href="./logout"><i class="fas fa-sign-out-alt"></i></a></li>

        <% }else{ %>

            <li><a href="./login">Login</a></li>
            <li><a href="./register">Register</a></li>

        <% } %>

    </ul>

</div>