<div class="nav">

    <div class="logo">

        <h1>WaifuCollector</h1>

    </div>

    <ul class="nav-list">

        <li><a href="./login">Login</a></li>
        <li><a href="./register">Register</a></li>

    </ul>

</div>