@import '../../scss/__base.scss';

.privacy_wrapper
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .privacy_title
    {
        margin-bottom: 30px;
        text-decoration: underline;
    }
    .card
    {
        width: 100%;
        margin: 10px 0;
        //padding-bottom: 0px;
    }

    .content
    {
        padding: 10px;
        font-size: 12pt;
        line-height: 150%;

        a
        {
            color: $sidebar-color;
        }
    }
}
