@import "../../../scss/__base.scss";
@import "../../../scss/effects.scss";

.container_pack
{
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: auto minmax(min-content, max-content) auto;
    grid-template-rows: auto minmax(min-content, max-content) auto;

    column-gap: 0;
    row-gap: 0;

    grid-template-areas:
        "... top ..."
        "left cards right"
        "... bottom ...";

    .packleft-wrapper,
    .packright-wrapper,
    .packbottom-wrapper,
    .packtop-wrapper
    {
        position: relative;
        background-color: $pack-background;

        &.packleft-wrapper
        {
            grid-area: left;
        }

        &.packright-wrapper
        {
            grid-area: right;
        }

        &.packtop-wrapper
        {
            grid-area: top;
            width: calc(100% + #{$pack-size});
        }

        &.packbottom-wrapper
        {
            grid-area: bottom;
            width: calc(100% + #{$pack-size});
            left: -#{$pack-size};
        }


        .packtop,
        .packbottom,
        .packleft,
        .packright,
        .packtopleftcorner
        {
            position: absolute;
            background-color: $pack-cover;

            &.packtop 
            {
                z-index: 2;
                height: $pack-size;
                width: 100%;
                bottom: 0;
            }

            &.packbottom
            {
                z-index: 2;
                height: $pack-size;
                width: 100%;
                top: 0;
            }

            &.packright
            {
                z-index: 1;
                width: $pack-size;
                height: 100%;
                left: 0;
            }

            &.packleft
            {
                z-index: 1;
                width: $pack-size;
                height: 100%;
                right: 0;
            }
        }

        .packleftshadow,
        .packrightshadow,
        .packtopshadow,
        .packbottomshadow
        {
            position: absolute;
            width: 100%;
            height: 100%;
            &.packbottomshadow
            {
                animation: pulsepackshadow-top 3s ease-out infinite;
            }
            &.packtopshadow
            {
                animation: pulsepackshadow-bottom 3s ease-out infinite;
            }
            &.packleftshadow
            {
                animation: pulsepackshadow-right 3s ease-out infinite;
            }
            &.packrightshadow
            {
                animation: pulsepackshadow-left 3s ease-out infinite;
            }
        }
    }
 
    .pack_card_container
    {
        position: relative;
        grid-area: cards;
        display: flex;
        justify-content: center;
        align-items: center;

        width: fit-content;

        padding: 20px 5px;

        .packcard
        {
            width: fit-content; 
            margin: 0 15px;
        }

        .packtopleftcorner, .packbottomrightcorner
        {
            position: absolute;
            background-color: $pack-cover;
            width: $pack-corner-size;
            height: $pack-corner-size;
            animation: pulsepackshadow-bottom 3s ease-out infinite;

            &.packtopleftcorner
            {
                top: -$pack-corner-size / 2;
                left: -$pack-corner-size / 2;
                transform: rotateZ(-45deg);
            }
            &.packbottomrightcorner
            {
                top: calc(100% - #{$pack-corner-size / 2});
                left: calc(100% - #{$pack-corner-size / 2});
                transform: rotateZ(135deg);
            }
        }
    }
}

.pack_load
{
    margin: 0 15px;
}
