@import '../../../../../../screen.scss';

.card-add-container {
	margin: 10px;
	height: 520px;
	width: auto;
	display: flex;
	gap: 50px;
	justify-content: space-between;

	flex-direction: row;
	@media (max-width: $breakpoint-md) {
		flex-direction: column;
	}

	form {
		display: flex;
		flex: 1;
		flex-direction: column;

		.request {
			margin-top: auto;
			.error {
				text-align: center;
			}
			button {
				width: 100%;
			}
		}
	}

	.card {
		display: flex;
		flex: 1;
		margin: 20px;
		justify-content: center;
		align-items: center;
	}
}
