<div class="card-add-container" *ngVar="(card$ | async) as card">
	<form [formGroup]="formGroup" (submit)="createCardRequest()">
		<ng-container *ngVar="(config$ | async) as config">
			<mat-form-field *ngIf="config">
				<input matInput type="text" formControlName="name" placeholder="Name" [minlength]="config.nameLengthMin" [maxlength]="config.nameLengthMax"/>
				<mat-error >Name has to be {{config.nameLengthMin}}-{{config.nameLengthMax}} characters</mat-error>
			</mat-form-field>
		</ng-container>
		<cc-card-type-selector formControlName="type" (cardType)="cardTypeChange($event)" [collectorId]="collectorId"></cc-card-type-selector>
		<input #imageInput hidden="true" type="file" (change)="imageChange($event.target)" accept="image/jpeg"/>
		<button mat-button type="button" (click)="imageInput.click()" [color]="formGroup.hasError('noImage') ? 'error' : 'text'"><mat-icon>add_a_photo</mat-icon>Image</button>
		<div class="request">
			<div *ngVar="(error$ | async) as error" class="error">
				<mat-error *ngIf="error != null">{{error}}</mat-error>
			</div>
			<button mat-button type="submit" [disabled]="!formGroup.valid">Submit</button>
		</div>
	</form>
	<div class="card" *ngIf="card != null">
		<cc-card [card]="card" [cardImage]="cardImage$ | async"></cc-card>
	</div>
</div>
