@import "../scss/__base.scss";

.card{
    display: table;
    background-color: $background-primary;

    box-sizing: border-box;

    padding: 15px;

    border-radius: 5px;

    width: 100%;
    height: 100%;

    /* Not sure */
    
    -webkit-box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);

    /* Not sure */

    .card-title{
        display: table-row;
        height: fit-content;
        font-size: 18px;

        border-bottom: 2px solid $background-secondary;
    }

    .card-content-fill{
        display: table-row;
        .card-content{
            display: block;
            width: 100%;
            box-sizing: border-box;

            margin-top: 10px;
        }
    }
}
