@import "../scss/__base.scss";
@import "../scss/effects.scss";

.card{

    background-color: $background-primary;

    box-sizing: border-box;

    padding: 5px 0 15px 0;

    border-radius: 5px;

    min-width: 0;

    min-height: 0;

    /* Not sure */
    
    -webkit-box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);

    /* Not sure */

    $titleHeight: 20px;

    .card-title{

        padding: 0 15px 0 15px;
        font-size: 18px;

        height: $titleHeight;

        border-bottom: 2px solid $background-secondary;

        overflow: hidden;

        .icon
        {
            font-size: 12pt;
            color: $sidebar-color;
            margin-left: auto;
            transition: rotation 1s linear;
            &:hover
            {
                color: white;
                animation: wiggle 0.5s linear;
            }
        }

        .resizetext_wrapper
        {
            margin-top: 3px;
        }
    }

    .card-content{

        position: relative;
        display: block;

        padding: 0 15px 0 15px;
        box-sizing: border-box;

        padding-top: 10px;

        width: 100%;
        height: calc(100% - #{$titleHeight});

    }

}
