.resizetext_wrapper
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .resizetext
    {
        overflow: visible !important;
        width: 100%;
        height: 80%;
        text-align: center;
        display: flex;
        align-items: center;
    }
}
