@import '../scss/_base';

.threeDotsMenu{

    button{
        color: $sidebar-color;
    }

}

.MuiPaper-root.MuiMenu-paper{

    color: $sidebar-color;
    background-color: $background-secondary;
    filter: contrast(1);
}
