
//Nav
$navBg: #26282b;
$navShadow: #00ff00;

//Base
$bg: #15171b;

//Cards
$cardBg1: #25282f;
$cardBg2: $cardBg1;

//Login Form
$inputColor: #fff;
$inputBorder: $navShadow;
$inputBorderDisabled: #202320;
$inputBg: none;
$inputWrong: red;

//Forms

$inputBackground: #f7f7f7;
$inputBorder: #f7f7f7;
$inputColor: #0a0909;

//Standard Button Colors

$buttonBackground: #2980B9;
$buttonBorder: #2980B9;
$buttonColor: #fff;

$buttonBackgroundHover: #1b4d6d;
$buttonBorderHover: $buttonBorder;
$buttonColorHover: #fff;

//Button2 Colors

$button2Background: #26a244;
$button2Border: #26a244;
$button2Color: #fff;

$button2BackgroundHover: #1b6b2f;
$button2BorderHover: $button2Border;
$button2ColorHover: #fff;

//Settings Gear
$settingsGearColor: #979CA7;
$settingsGearColorHover: #fff;
$buttonBG: #323232;

//Settings Form
$settingsFields: #1b1c1f;
//$settingsShadow: #b047ca;
$settingsShadow: $navShadow;
$settingsInput: #1f2022;
$settingsInputColor: #fff;

//Dashboard
$sectionBorder: rgba(255, 255, 255, 0.5);

//Adminpanel

$sidebarBG: #26282b;
$sidebarButtonHover: #40414261;

$adminPanelCardBackground: #252d38;