
//Nav
$navBg: #1b1c1f;
$navShadow: #00ff00;

//Base
$bg: #15171b;

//Cards
$cardBg1: #25282f;
$cardBg2: $cardBg1;

//Login Form
$inputColor: #fff;
$inputBorder: $navShadow;
$inputBorderDisabled: #202320;
$inputBg: none;
$inputWrong: red;

//Settings Gear
$settingsGearColor: #979CA7;
$settingsGearColorHover: #fff;

//Settings Form
$settingsFields: #1b1c1f;
//$settingsShadow: #b047ca;
$settingsShadow: $navShadow;
$settingsInput: #1f2022;
$settingsInputColor: #fff;

//Dashboard
$sectionBorder: rgba(255, 255, 255, 0.5);
