
//Nav
$navBg: #1b1c1f;
$navShadow: #00ff00;

//Base
$bg: #15171b;

//Cards
$cardBg1: #25282f;

//Login Form
$inputColor: #fff;
$inputBorder: $navShadow;
$inputBorderDisabled: #202320;
$inputBg: none;
$inputWrong: red;