@import "___base.scss";

div[id="cards"] {
	float: left;
    margin:auto;
    max-height: none;
    align-items: center;
    justify-content: center;
    width: 60%;
	height: 100%;
	@media screen and (min-width: 1255px) {
		border-right: 1px solid $sectionBorder;
	}
	@media screen and (max-width: 1255px) {
		width: 100%;
	}
}

div[id="cardsinner"]
{
	padding-top: 40px;
	margin: auto;
}

div[id="maincard"]
{
	display: flex;
	margin: auto;
	margin-top: 25px;
	margin-left: 5px;
	justify-content: center;
	vertical-align: middle;
	height: 100%;

	@media screen and (min-width: 1255px) {
		float: right;
		width: calc(40% - 1px - 5px);
	}
	@media screen and (max-width: 1255px) {
		height: 600px;
		border-bottom: 1px solid $sectionBorder;
	}

	@media screen and (max-width: 400px) {
		height: 400px;
	}

}
