@import "___base.scss";

div[id="cards"] {
	float: left;
    margin:auto;
    overflow: auto;
    max-height: none;
    //overflow-y: scroll;
    align-items: center;
    justify-content: center;
	margin-top: 130px;
    width: 60%;
    height: auto;
	@media screen and (min-width: 1255px) {
		border-right: 1px solid $sectionBorder;
	}
	@media screen and (max-width: 1255px) {
		width: 100%;
	}
}
div[id="maincard"]
{
	margin: auto;
	margin-top: 130px;
	width: 360px;
	margin-right: 100px;

	float: unset;
	height: auto;
	@media screen and (min-width: 1255px) {
		float: right;
	}
	@media screen and (max-width: 1255px) {
		margin-right: auto;
		height: 600px;
		border-bottom: 1px solid $sectionBorder;
		transform: translateX(-20px);
	}
}
