@import "base.scss";

.content{
    
    width: 100%;
    height: calc(100vh - 120px/* -120px header -80px box*/);

    margin-top: 120px;

    .card2{

        width: 90%;
        height: 80%;

        margin: 5%;

        background-color: $cardBg2;

        .content{

            margin: 20px;

            #username{

                float: left;
    
                font-size: 3em;
                font-family: 'Oswald';
                font-weight: 700;
    
                text-transform: uppercase;
    
            }
    
            #settings{
    
                float: right;
    
                color: $settingsGearColor;
            
                transition: transform 1s;
    
                &:hover{
    
                    color: $settingsGearColorHover;
                    transform: rotate(40deg);
    
                }
    
            }

        }

    }

}