@import "___base.scss";

.dashboard_content{

	--sideBar: 250px;
	//--sideBar: 0px;
	//transition: width 0.2s linear;
	//transition: margin 0.2s linear;
	
	position: absolute;
    margin-top: 100px;
    margin-left: var(--sideBar);
	width: calc(100% - var(--sideBar));
	@media screen and (max-width: 900px) { 
		margin-left: 0px;
		width: 100%;
	}
	height: calc(100% - 100px);
		
	.dashboard_content_wrapper{
		padding: 10px;
		display: block;
		position: relative;
		width: calc(100% - 20px);
		height: calc(100% - 20px);

		#settings {
			position: absolute;
			top: 20px;
			right: 20px;

			float: right;

			color: $settingsGearColor;

			transition: transform 1s;

			margin-top: 10px;
			margin-right: 10px;

			font-size: 25px;

			&:hover {
				color: $settingsGearColorHover;

				-webkit-animation: rotating 5s linear infinite;
				-moz-animation: rotating 5s linear infinite;
				-ms-animation: rotating 5s linear infinite;
				-o-animation: rotating 5s linear infinite;
				animation: rotating 5s linear infinite;

				//@-webkit-keyframes rotating [> Safari and Chrome <] {
				@-webkit-keyframes rotating {
					from {
						-webkit-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						transform: rotate(0deg);
					}

					to {
						-webkit-transform: rotate(360deg);
						-o-transform: rotate(360deg);
						transform: rotate(360deg);
					}
				}

				@keyframes rotating {
					from {
						-ms-transform: rotate(0deg);
						-moz-transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						transform: rotate(0deg);
					}

					to {
						-ms-transform: rotate(360deg);
						-moz-transform: rotate(360deg);
						-webkit-transform: rotate(360deg);
						-o-transform: rotate(360deg);
						transform: rotate(360deg);
					}
				}
			}
		}
		

		.dashboard_stats
		{
			width: fit-content;
			height: min-content;
			#dashboard_username
			{
				margin-top: 20px;
				margin-left: 20px;
				font-size: 32pt;
			}

			#dashboard_friends
			{
				margin-top: 20px;
				margin-left: 50px;
				font-size: 18pt;
			}

			#dashboard_cards
			{
				margin-top: 10px;
				margin-left: 50px;
				font-size: 18pt;
			}

		}

		.progress_wrapper
		{
			cursor: pointer;
			position: absolute;
			top: 50%;
			@media screen and (max-width: 800px) { 
				top: 60%;
			}
			left: 50%;
			width: 260px;
			height: 260px;
			transform: translate(-50%, -50%);
		}
	}
}
