@import "___base.scss";

input[type="text"],
input[type="password"],
textarea,
select {
    border: 1px solid $inputBorder;
    width: 100%;
    box-sizing: border-box;
    background: $inputBackground;
    color: $inputColor;
    font-weight: 300;
    border-radius: 4px;
}
input[type="text"],
input[type="password"],
select {
    height: 40px;
    line-height: 34px;
    padding: 0 15px;
    box-sizing: border-box;
}
textarea {
    padding: 15px 15px;
}
.button,
input[type="submit"],
input[type="button"],
button,
.button{
    text-transform: uppercase;
    line-height: 20px;
    min-height: 0px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid transparent;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition-property: background-color, color, border-color;
    transition-duration: 0.25s,0.5s,0.25s;
    font-family: 'Source Sans Pro', normal;
    font-weight: 900;
}
input[type="submit"],
input[type="button"],
label.file-upload,
button,
.button{

    border-radius: 4px;

    background-color: $buttonBackground;
    color: $buttonColor;
    border-color: $buttonBorder;
    text-decoration: none;
}
input[type="submit"],
input[type="button"]{
    padding: 0px;
    min-height: 50px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: $buttonBackgroundHover;
    color: $buttonColorHover;
    border-color: $buttonBorderHover;
    text-decoration: none;

    cursor: pointer;

}

label.file-upload{

    text-transform: uppercase;
    line-height: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid transparent;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition-property: background-color, color, border-color;
    transition-duration: 0.25s,0.5s,0.25s;
    font-family: 'Source Sans Pro', normal;
    font-weight: 900;

}

//Button2 colors:

.button2:hover {
    background-color: $button2BackgroundHover;
    color: $button2ColorHover;
    border-color: $button2BorderHover;

}

.button2{

    background-color: $button2Background;
    color: $button2Color;
    border-color: $button2Border;

}