.friendbox
{
	margin-top: 140px;
}
div#friends {
	margin: auto;
	margin-top: 40px;
	overflow: auto;
	max-height: none;
	//overflow-y: scroll;
	align-items: center;
	justify-content: center;
	//margin-top: 100px;
	width: 100%;
	height: auto;
}
