@import "___base.scss";

.radio_wrap {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	width: fit-content;
	height: 30px;
}

.radio {
  margin-left: 50px;
  margin-right: 50px;
  float:left;
  font-size: 1.5rem;
  color: $inputColor;

  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
}

.radio__input {
  display: flex;

  input {
    opacity: 0;
    width: 0;
    height: 0;

	&:checked + .radio__control {
      background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
    }
  }

}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;

  transform: translateY(-0.05em);
}

.radio__label {
  padding: auto;
  font-size: 2rem;
  line-height: 1;
}

input[type="search"] {
	color: $inputColor;

	background: $inputBg;
	display: block;

	text-align: center;

	border: 2px solid $settingsShadow;

	width: 70%;
	outline: none;

	margin-top: 50px;
	padding: 10px 4px;
	margin-left: auto;
	margin-right: auto;

	border-radius: 25px;

	&:focus {
		border-color: $settingsInputColor;

		transition: border 0.2s ease-in-out;
	}
}

input[name="submit"] {
	color: $inputColor;
	padding: 10px 30px;
	margin-top: 1%;
	margin-left: 30%;
	width: 40%;

	outline: none;
	border: 2px solid $settingsShadow;
	background-color: $buttonBG;

	border-radius: 25px;

	&:enabled {
		&:hover {
			color: $inputColor;
			background-color: rgba(0, 0, 0, 0);

			transition: background 0.2s ease-in-out;
		}
	}

	&:active {
		border-color: #ffffff;
	}

	&:disabled {
		background-color: $inputBorderDisabled;
		border-color: $inputBorderDisabled;
	}
}

div#inventory {
	margin: auto;
	overflow: auto;
	max-height: none;
	//overflow-y: scroll;
	align-items: center;
	justify-content: center;
	//margin-top: 100px;
	width: 100%;
	height: auto;
}

.next {
	color: black;
	padding: 10px 30px;
	padding: 1%;
	float: right;
	width: 50px;
	margin-right: 5%;

	outline: none;
	border: 2px solid $settingsShadow;
	background-color: $settingsShadow;

	border-radius: 25px;

	&:enabled {
		&:hover {
			color: $inputColor;
			background-color: rgba(0, 0, 0, 0);

			transition: background 0.2s ease-in-out;
		}
	}

	&:active {
		border-color: #ffffff;
	}

	&:disabled {
		background-color: $inputBorderDisabled;
		border-color: $inputBorderDisabled;
	}
}
.previous {
	color: black;
	padding: 10px 30px;
	margin-left: 5%;
	padding: 1%;
	float: left;
	outline: none;
	border: 2px solid $settingsShadow;
	width: 50px;
	background-color: $settingsShadow;

	border-radius: 25px;

	&:enabled {
		&:hover {
			color: $inputColor;
			background-color: rgba(0, 0, 0, 0);

			transition: background 0.2s ease-in-out;
		}
	}

	&:active {
		border-color: #ffffff;
	}

	&:disabled {
		background-color: $inputBorderDisabled;
		border-color: $inputBorderDisabled;
	}
}

.page {
	position: relative;
	color: white;
	float: left;
	font-size: 300%;
	@media screen and (max-width: 1200px) {
		font-size: 200%;
	}
	margin: auto;
	margin-top: 2%;
	width: 100%;
	text-align: center;
	margin-bottom: 2%;
}
