@import "___base.scss";

.packwrapper {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}

div#Open {
	align-items: center;
	justify-content: center;
	//width: calc(100% - (50% - 253px));
	margin: auto;
	width: 255px;
	height: 400px;
}
