@import "___base.scss";

.wrapper
{
    padding: 150px 0px 0px 30px;
  .pass_change
  {
      padding: 0px 0px 2% 0px;
      margin: 0px 60% 0px 0px;

      background-color: $settingsFields;
      box-shadow: 0px 2px 10px $settingsShadow;
      .pass_change_top
      {
          padding: 0px 0px 15px 0px;
          box-shadow: 0px 2px 10px $settingsShadow;
          .pass_change_text
          {
              //font-size: 24pt;
              padding: 20px 0px 0px 25%;
          }
      }

      input[type="password"]
      {
          color: $inputColor;

          background: $inputBg;
          display: block;

          text-align: center;

          border: 2px solid $settingsShadow;

          width: 70%;
          outline: none;

          margin: 20px auto;
          padding: 10px 4px;

          border-radius: 25px;

          &:focus{

              border-color: $settingsInputColor;

              transition: border 0.2s ease-in-out;

          }
      }

      input[name="submit"]
      {
          color: black;
          padding: 10px 30px;
          margin: 0px 0px 0px 29%;
          width: 40%;

          outline: none;
          border: 2px solid $settingsShadow;
          background-color: $settingsShadow;

          border-radius: 25px;
          
          &:enabled{

              &:hover{

                  color: $inputColor;
                  background-color: rgba(0, 0, 0, 0);

                  transition: background 0.2s ease-in-out;

              }

          }

          &:active
          {
              border-color: #ffffff;
          }

          &:disabled{

              background-color: $inputBorderDisabled;
              border-color: $inputBorderDisabled;

          }

      }

    }
}
