@import "___base.scss";

.wrapper {
	.settings {
		min-width: 350px;
		margin-left: 7%;
		.pass_change {
			text-align: center;
			padding: 0px 0px 2% 0px;
			width: 300px;
			background-color: $cardBg2;
			.pass_change_top {
				padding: 10px 0px 15px 0px;
				.pass_change_text {
					font-size: 19pt;
					padding: 2% 0px 0px 0%;
				}
			}

			input[type="password"] {
				color: $inputColor;

				margin: auto;
				margin-top: 10px;

				background: $inputBg;
				display: block;

				text-align: center;

				border: 2px solid $settingsShadow;

				width: 70%;
				outline: none;

				padding: 10px 4px;

				border-radius: 25px;

				&:focus {
					border-color: $settingsInputColor;

					transition: border 0.2s ease-in-out;
				}
			}

			input[name="submit"] {
				color: black;
				padding: 10px 30px;
				width: 40%;

				margin: auto;
				margin-top: 10px;
				outline: none;
				border: 2px solid $settingsShadow;
				background-color: $settingsShadow;

				border-radius: 25px;

				&:enabled {
					&:hover {
						color: $inputColor;
						background-color: rgba(0, 0, 0, 0);

						transition: background 0.2s ease-in-out;
					}
				}

				&:active {
					border-color: #ffffff;
				}

				&:disabled {
					background-color: $inputBorderDisabled;
					border-color: $inputBorderDisabled;
				}
			}
		}
	}
}
