@import "___base.scss";

.trade
{
	display: block;
	text-align: center;
	position: relative;
    margin:auto;
	margin-top: 140px;
	width: 100%;
	height: auto;
    overflow: auto;
	#tradeself
	{
		position: relative;
		//margin:none;
		width: 100%;
		@media screen and (min-width: 540px) {
			border-right: 1px solid $sectionBorder;
			float:left;
			width: calc(50% - 1px);
		}
		@media screen and (max-width: 540px) {
			border-bottom: 1px solid $sectionBorder;
			margin-bottom: 20px;
		}
		max-height: none;
		align-items: center;
		justify-content: center;
		min-height: 440px;
		#tradeselfinner
		{
			max-height: none;
			height:auto;
			overflow: auto;
			margin: auto;
			margin-top: 30px;
		}
	}
	#tradeother
	{
		position: relative;
		width: 100%;
		@media screen and (min-width: 540px) {
			float:right;
			width: 50%;
		}
		height: auto;
		align-items: center;
		justify-content: center;
		min-height: 440px;
		#tradeotherinner
		{
			height:auto;
			margin: auto;
			margin-top: 30px;
		}
	}
	.name
	{
		color: white;
		font-size: 20pt;
		text-align: center;
	}
	.addtrade
	{
		cursor: pointer;
		color: white;

		background: none;
		//display: block;

		text-align: center;

		border: 2px solid white;

		width: 70%;
		outline: none;

		margin:auto;
		margin-top: 8px;
		padding: 10px 4px;

		border-radius: 25px;

		&:focus {
			border-color: #555555;

			transition: border 0.2s ease-in-out;
		}
	}

	.oktrade
	{
		cursor: pointer;
		color: white;

		background: none;
		//display: block;

		text-align: center;

		border: 2px solid #fff;

		width: 70%;
		outline: none;

		margin:auto;
		margin-top: 8px;
		padding: 10px 4px;

		border-radius: 25px;

		&:focus {
			border-color: #555555;

			transition: border 0.2s ease-in-out;
		}
	}
}
