@import "___base.scss";

.box.mailbox
{
  margin-top: 80px;
  padding: 50px 0 50px 0;

  .info
  {
    padding: 0 30px 0 30px;
    font-size: 24pt;
    @media screen and (max-width: 600px) { 
      padding: 0 10px 0 10px;
      font-size: 12pt;
    }
    text-align: center;
  }

  .links
  {
    color: white;

    &:link {
     color:inherit;
    }

    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 16pt;
    @media screen and (max-width: 600px) { 
      font-size: 8pt;
    }
  }
}
input[type="mail"]{

    color: white;

    background: $inputBg;
    display: block;

    text-align: center;

    border: 2px solid rgba(255, 255, 255, 0.25);

    width: 280px;
    @media screen and (max-width: 400px) { 
        width: 180px;
    }
    outline: none;

    margin: 20px auto;
    padding: 10px 4px;

    border-radius: 25px;

    &:hover{

        border-color: $inputBorder;

        transition: border 0.2s ease-in-out;

    }

}

.wrong{

    border-color: $inputWrong !important;

}

input[type="submit"]{

    color: black;
    padding: 10px 30px;
    display: block;
    margin: auto; 

    border: 2px solid $inputBorder;
    background-color: $inputBorder;

    border-radius: 25px;

    &:enabled{

        &:hover{

            color: $inputColor;
            background-color: rgba(0, 0, 0, 0);

            transition: background 0.2s ease-in-out;

        }

    }

    &:disabled{

        background-color: $inputBorderDisabled;
        border-color: $inputBorderDisabled;

    }

}
