.request-card {
	// display: flex;
	// flex-direction: column;
	// flex: 1;
	//height: 300px;

	mat-card-content {
		margin: 0;
	}

	mat-card-header {
		display: block;

		mat-divider {
			margin: 0 16px;
			margin-bottom: 10px;
		}

		mat-card-title {
			display: flex;
			gap: 10px;
			margin-bottom: 9px;

			.title, .seperator {
				padding: 0;
				margin: 0;
				font-size: 20px;
			}

			cc-user {
				display: block;
				height: 28px;
				font-size: 18px;
			}
		}
	}

	mat-card-actions {
		padding-top: 5px;
		display: flex;
		gap: 50px;
		margin: 0 9px;
	}
}
