@import "../../scss/__base.scss";

.container_home{

    display: grid;

    box-sizing: border-box;

    width: 100%;
    height: 100%;

    padding-bottom: 30px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px minmax(min-content, max-content) 100px;

    column-gap: 25px;
    row-gap: 25px;

    grid-template-areas: 
        "packGraph packGraph"
        "tutorial copyright"
        "privacy privacy";

    @media screen and (max-width: $breakpoint-lg)
    {
        grid-template-rows: 400px minmax(min-content, max-content) minmax(min-content, max-content) 100px;
        grid-template-areas: 
            "packGraph packGraph"
            "tutorial tutorial"
            "copyright copyright"
            "privacy privacy";
    }

    @media screen and (max-width: $breakpoint-sm)
    {
        grid-template-rows: 300px minmax(min-content, max-content) minmax(min-content, max-content) 100px;
    }


    .packGraphWrapper {
        grid-area: packGraph;
        .card-content
        {
            padding-left: 0;
        }

        &.card
        {
            padding-bottom: 0;
        }
    }

    .tutorial, .copyright
    {
        .card-content>div
        {
            width: fit-content;
            margin: 10px auto;
        }
        h5
        {
            font-size: 18pt;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        p
        {
            padding: 1px;
            padding-left: 15px;
            padding-bottom: 5px;
        }
    }
    
    .tutorial
    {
        grid-area: tutorial;
    }

    .copyright
    {
        grid-area: copyright;
    }

    .privacy_wrapper
    {
        grid-area: privacy;
        padding-bottom: 10px;
    }
    
    .privacy
    {
        height: 100%;

        .card
        {
            padding: 0;
        }

        .card-content
        {
            text-align:center;
            height: 100%;

            &>div
            {
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
				
				&>div {
					height: 100%;
					flex: 1;
				}

				img {
					height: 100%;
				}
                #privacyhref
                {
					display: flex;
					justify-content: center;
					align-items: center;
					a {
						font-size: 16pt;
						color: $sidebar-color;
					}
                }
            }
        }
    }
}
