@import '../../../scss/__base.scss';
@import '../../../scss/effects.scss';

.loading_wrapper
{
    transition: top 0.5s;

    .loader
    {
        width: 256px;
        height: 256px;
    }

    img, .loader
    {
        position: absolute;

        //width: 250px;
        //height: 250px;
        right: 50%;
        top: 50%;

        transform: translate(50%, -50%);
    }

    .loader
    {
        border: 8px solid transparent;
        border-top: 8px solid #ffffff6e;
        border-radius: 50%;
        animation: spincenter 2s linear infinite;
    }
}
