<nav class="navigation">
  <ul #navItems (resized)="onResized(navItems)">
    <ng-container *ngFor="let item of items; let i = index">
      <li [ngClass]="hiddenId <= i ? 'hidden' : ''">
      <a
        [routerLink]="getLink(item)"
        routerLinkActive="active"
        >
        <mat-icon class="icon" fontSet="material-icons-outlined" *ngIf="item.icon != ''">{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
      </a>
    </li>
    </ng-container>
  </ul>
  <div *ngIf="items.length != hiddenId" class="details">
    <div class="more_btn" (click)="toggleOpen()">
      <mat-icon>more_vert</mat-icon>
      <div [ngClass]="open ? 'open' : ''" class="more_box">
        <ul>
          <ng-container *ngFor="let item of items; let i = index">
            <li *ngIf="hiddenId <= i"><a [routerLink]="getLink(item)">{{item.name}}</a></li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</nav>
