@import '../../../scss/__base.scss';

.trade_wrapper_parent
{
    width: 100%;
    height: 100%;
}

.trade_wrapper
{
    width: 100%;
    height: 100%;

    display: grid;

    box-sizing: border-box;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(min-content, max-content);
    grid-template-areas:
        "own other"
        "confirm confirm";

    @media screen and (max-width: $breakpoint-md)
    {
        //grid-template-columns: 1fr;
        //grid-template-rows: 1fr 1fr;
        //grid-template-areas:
            //"own"
            //"other";
        column-gap: 10px;
        row-gap: 10px;
    }

    column-gap: 25px;
    row-gap: 25px;

    .trade_friend.trade_own
    {
        grid-column: own / other;
        grid-row: own / confirm;

        .card-content
        {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }

    .trade_own, .trade_friend
    {
        .card-content
        {
            display: grid;
            box-sizing: border-box;

            grid-template-columns: 1fr;
            grid-template-rows: 1fr minmax(min-content, max-content);
            grid-template-areas:
                "inventory"
                "input";

            row-gap: 10px;

            .card_wrapper
            {
                grid-area: inventory;

                min-height: calc(100% - 30px);
                padding-bottom: 30px;

                flex-direction: row;
                display: flex;
                justify-content: center;
                justify-items: center;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
                overflow: auto;
            }

            .button_input
            {
                grid-area: input;
            }
        }
    }

    .button_input
    {
        width: 100%;
    }

    .trade_own
    {
        grid-area: own;
    }

    .trade_friend
    {
        grid-area: other;
    }
    .waifucard_wrapper
    {
        height: fit-content;
        width: fit-content;
        margin: 10px;
    }

    .button_confirm
    {
        grid-area: confirm;
    }

}

