@import "../../../scss/__base.scss";

.profileName{

    width: fit-content;

    .name{

        font-size: 1em;
        line-height: 1em;

        color: $sidebar-color;
        text-decoration: none;

        display: inline-block;

        text-transform: uppercase;
        font-weight: normal;
    }

    .badges{

        display: inline-block;

        margin-left: 0px;

        .badge{

            display: inline;

            margin: 0 5px;

            img{

                height: 1em;
                width: auto;

                -webkit-backface-visibility: hidden;
                -ms-transform: translateZ(0); /* IE 9 */
                -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
                transform: translateZ(0);

            }

        }

    }

}

.tooltip{

    z-index: 1000;

    margin-top: 10px;

    color: #c7c7c7;

    background-color: #505050;
    padding: 5px;

    border-radius: 5px;

}
