.collectors-wrapper {
	.loading {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.new-collector {
		margin-left: 30px;
	}

  cc-loading {
    margin: 30px;
  }

	.collectors {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
