<div class="collectors-wrapper">
	<form class="collector-form" [formGroup]="formGroup">
		<mat-form-field>
			<input matInput type="text" formControlName="search" placeholder="Search" />
		</mat-form-field>
		<button class="new-collector" mat-raised-button (click)="newCollector()">New</button>
	</form>
	<ng-container *ngVar="(collectorIndexResponse$ | async) as res">
		<ng-container *ngIf="res != null">
			<div class="collectors">
				<cc-collector *ngFor="let collector of res.collectors" [collector]="collector"></cc-collector>
			</div>
			<mat-paginator [pageSize]="res.pageSize" [length]="res.collectorCount" (page)="changePage($event)"></mat-paginator>
		</ng-container>
	</ng-container>
	<div class="loading" *ngIf="loading$ | async">
		<cc-loading-spinner></cc-loading-spinner>
	</div>
</div>
