.achievement
{
	margin: 10px 0;

	display: flex;
	flex-wrap: wrap;

	align-items: center;

	height: 50px;
	width: 100%;

	&>img
	{
		display: inline-block;

		height: calc(100% - 2px);
		width: auto;

		border-radius: 100%;
		border: 1px solid #fff;

		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-ms-transform: translateZ(0); /* IE 9 */
		-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
		transform: translateZ(0);
	}
	p
	{
		font-size: 12pt;
		display: inline-block;
		margin-left: 10px;
	}
}
