@import '../../scss/__base.scss';

.nopage_wrapper
{
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    grid-template-areas:
        "error";

    font-size: 100%;

    .card 
    {
        grid-area: error;

        .card-content
        {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 200%;
            text-align: center;
        }

    }
}
