@import "../../../../theme.scss";
@import "../../../../screen.scss";

.banner {
	width: 100%;
	height: 200px;
	background: red;
	object-fit: cover;
}

.head {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
	margin-top: 20px;
	margin-left: 50px;
	@media (max-width: $breakpoint-md) {
		margin-left: 20px;
	}

	cc-collector-favorite {
		//NOTE: not center otherwise
		margin-top: 3px;
		transform: scale(1.6);
		@media (max-width: $breakpoint-md) {
			margin-top: -6px;
			transform: scale(1.2);
		}
	}

	.collector-image {
		margin-top: -70px;
		width: 150px;
		height: 150px;
		@media (max-width: $breakpoint-md) {
			margin-top: -110px;
			width: 120px;
			height: 120px;
		}
	}

	.info {
		margin-left: 5px;
		margin-right: 45px;
		@media (max-width: $breakpoint-md) {
			//new line
			flex-basis: 100%;
		}
		.name-wrapper {
			display: flex;
			flex-direction: row;
			gap: 20px;
			@media (max-width: $breakpoint-md) {
				gap: 8px;
			}

			.name {
				font-size: 30pt;
				@media (max-width: $breakpoint-md) {
					font-size: 18pt;
				}
				margin: 0;
			}
		}
	}

	.description {
		margin: 5px 0 0 0;
		color: map-get(map-get($theme, foreground), hint-text);
	}
}
