.banner-wrapper {
	position: relative;
	width: 100%;
	height: 130px;

	.banner {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.edit-button {
		position: absolute;
		right: 5px;
		top: 86%;
		//transform: scale(0.9);
	}
}
