@import "../../scss/__base.scss";

.container_profile{

    display: grid;

    box-sizing: border-box;

    width: 1fr;
    height: 100%;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap: 20px;

    grid-template-areas: 
        "account packs friends"
        "badges packs friends";

    .accountInfo{

        @media screen and (max-width: $breakpoint-sm){
            margin-top: 40px;
        }
        grid-area: account;

        .avatar{

            display: flex;

            justify-content: center;

            height: 50%;
            width: 100%;

            @media screen and (max-width: $breakpoint-md){

                max-height: 400px;

            }

            .logo{

                height: 17vh;
                width: 17vh;

                -webkit-backface-visibility: hidden;
                -ms-transform: translateZ(0); /* IE 9 */
                -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
                transform: translateZ(0);

                @media screen and (max-width: $breakpoint-md){

                    width: 100%;
                    height: auto;

                    max-width: 200px;
        
                }

            }


        }

        .profilename_container{

            display: flex;
            justify-content: center;

            margin-top: 10px;

            text-align: center;

            .profileName{

                font-size: 18px;
                letter-spacing: 0.1em;

            }

        }

        .stats{

            margin-top: 10px;

            width: 100%;

            letter-spacing: 0.05em;

            td:nth-child(2){

                text-align: right;

            }

        }

        @media screen and (max-width: $breakpoint-md){

            &{

                height: fit-content;

            }

        }

    }

    .badges{

        grid-area: badges;

        .card-content
        {
            min-height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h1
            {
                font-size: 16pt;
                color: grey;
                //transform: rotateZ(-20deg);
            }
        }

        @media screen and (max-width: $breakpoint-md){

            &{

                height: fit-content;

            }

        }

    }

    .flexen{

        grid-area: packs;

        .flex-grid{
            width: 100%;
            height: 100%;
            .scroll_view
            {
                overflow-x: hidden !important;
                width: 100%;
                height: 100%;
                flex-direction: row;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                overflow: auto;

                .waifucard_wrapper
                {
                    width: fit-content;
                    height: fit-content;
                    margin: 5px;
                }
            }
        }

    }

    .friends_wrapper {
        grid-area: friends;
        @media screen and (max-width: 768px)
        {
            padding-bottom: 30px;
        }
        .friends{

            height: 100%;

            overflow: hidden;

            @media screen and (max-width: $breakpoint-md){

                &{

                    height: fit-content;

                }

            }

        }
    }

    @media screen and (max-width: $breakpoint-xl) {
        
        grid-template-columns: 1fr 1fr 1fr;

        grid-template-areas: 
        "packs packs packs"
        "account badges friends";

    }

    @media screen and (max-width: $breakpoint-md){
        
        grid-template-columns: 1fr;
        grid-template-rows: min-content 80% min-content min-content;

        box-sizing: unset;

        grid-template-areas: 
        "account"
        "packs"
        "badges"
        "friends";

    }

}
