<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector | Dashboard</title>

        <link rel="stylesheet" href="resources/css/nav.css">
        <link rel="stylesheet" href="resources/css/std.css">
        <link rel="stylesheet" href="resources/css/sdgrid.css">

        <link rel="stylesheet" href="resources/css/dashboard.css">

    </head>

    <body>

        <%- include('partials/nav.ejs') %>

        <div class="content">

            <hr style="color: rgba(0, 0, 0, 0); border-color:rgba(0, 0, 0, 0); background-color: rgba(0, 0, 0, 0);">

            <div class="profile card2">

                <div class="content bbox">

                    <h2 id="username"><%= username %></h2>

                    <a id="settings" href="/settings"><i class="fas fa-cog fa-2x"></i></a>

                </div>

            </div>

        </div>

    </body>

</html>