<!DOCTYPE html>
<html lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector</title>

        <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="resources/css/index.css">
        <link rel="stylesheet" href="resources/css/sdgrid.css">

    </head>

    <body>

        <div class="nav">

            <div class="logo">

                <h1>WaifuCollector</h1>

            </div>

            <ul class="nav-list">

                <li><a href="./login">Login</a></li>
                <li><a href="./register">Register</a></li>

            </ul>

        </div>

        <div class="home">

            <h1>WaifuCollector</h1>

        </div>

        <div class="section about">

            <h2 class="title">About</h1>

        </div>

    </body>

</html>