<!DOCTYPE html>
<html lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector | Home</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="resources/css/all.css">

    </head>

    <body>

        <%- include('partials/nav.ejs') %>

        <div class="home">

            <h1>WaifuCollector</h1>

        </div>

        <div class="section about">

            <h2 class="title">About</h1>

        </div>

    </body>

</html>