<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector | Pack</title>

        <link rel="stylesheet" href="resources/css/all.css">
    </head>
    <body>

        <%- include('partials/nav.ejs') %>
        
        <form action="/inventory" method="get">
            <input type="search" name="search" placeholder=""/>
            <input type="submit" value="Change" name="submit"></input>
        </form>
        <div id="inventory">
        </div>
    </body>

    <% if (cards != undefined) { %>
        <script>
            const cards = <%- JSON.stringify(cards) %>;
            var opn = document.getElementById('inventory');
            
            var packdiv = opn.insertAdjacentHTML('beforeend', '')
            //var cardSize = 110;
            //var off = 235-(cards.length-1) / 2 * cardSize;
            var off = 10;           
            var tofit = [];
            for(var i = 0; i < cards.length; i++/*,off+=cardSize*/)
            {
                
              var path = cards[i].card.cardImage;
              var posX =  off;
              var cardhtml = `<waifu-card id=card${i} img_path=${path} frame-front=${cards[i].card.frame.path_front} frame-back=${cards[i].card.frame.path_back} pos-x=${posX} card-name=\"${cards[i].card.cardName}\" anime-name=\"${cards[i].card.type.name}\" turned=false quality=${cards[i].quality} level=${cards[i].level}></waifu-card>`;
              opn.insertAdjacentHTML('beforeend',
              cardhtml);
            
              var o = document.getElementById(`card${i}`);
              tofit.push(o);
            }
            window.onload = function() {
              for(var i = 0; i < tofit.length; i++)
              {
                tofit[i].fit();
              }
            }
        </script>
    <% } %> 

    <script>
                    
        window.onmousedown = function(e) {
            const els = document.querySelectorAll('waifu-card');
            x = e.pageX;
            y = e.pageY;
            for(var i = 0; i < els.length; i++)
            {
                if (els[i].isClicked(x,y)) {
                    els[i].fit();
                    els[i].turn();
                }
            }
        }
    </script>

    <script src="../resources/components.js"></script> 
</html>
