<!DOCTYPE html>
<html lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector | Login</title>

        <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="resources/css/nav.css">
        <link rel="stylesheet" href="resources/css/std.css">
        <link rel="stylesheet" href="resources/css/sdgrid.css">

        <link rel="stylesheet" href="resources/css/login.css">

    </head>

    <body>

        <%- include('partials/nav.ejs') %>

        <div class="content">

            <div class="card">

                <h1>Login</h1>

                <input type="text" name="username">
                <input type="password" name="password">

                <input type="submit" name="submit">

            </div>

        </div>

    </body>

</html>