<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector | Pack</title>

        <link rel="stylesheet" href="resources/css/all.css">
    </head>

    <body>

        <%- include('partials/nav.ejs') %>

        <div class="open">
            <input class="openBox" type="checkbox" checked>
            <div class="left">
                <h1 class="info">Click</h1>
            </div>
            <div class="right">
                <h1 class="info">to Open</h1>
            </div>
        </div>

    </body>

</html>