<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector | Pack</title>

        <link rel="stylesheet" href="resources/css/all.css">
    </head>

    <body>

        <%- include('partials/nav.ejs') %>

        <div id="Open">
        </div>

    </body>
    <% if (cards != undefined) { %>
        <script>
            const cards = <%- JSON.stringify(cards) %>;
            var opn = document.getElementById('Open');
            
            var packdiv = opn.insertAdjacentHTML('beforeend', '')
            var cardSize = 110;
            var off = 235-(cards.length-1) / 2 * cardSize;
            for(var i = 0; i < cards.length; i++/*,off+=cardSize*/)
            {
              var path = cards[i].cardImage;
              var posX =  off;
              var cardhtml = `<waifu-card id=card${i} img_path=${path} frame-front=${cards[i].frame.path_front} frame-back=${cards[i].frame.path_back} pos-x=${posX} card-name=\"${cards[i].cardName}\" anime-name=\"${cards[i].type.name}\" turned=true quality=${cards[i].quality} level=0></waifu-card>`;
              opn.insertAdjacentHTML('beforeend', cardhtml);  
            }
        </script>
    <% } %> 

    <script>
                    
        window.onmousedown = function(e) {
            const els = document.querySelectorAll('waifu-card');
            x = e.pageX;
            y = e.pageY;
            for(var i = 0; i < els.length; i++)
            {
                if (els[i].isClicked(x,y)) {
                    els[i].fit();
                    els[i].turn();
                }
            }
        }
    </script>

    <script src="../resources/components.js"></script> 
</html>
