<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector | Pack</title>

        <link rel="stylesheet" href="resources/css/all.css">
    </head>

    <body>

        <%- include('partials/nav.ejs') %>

        <div class="open">
            <input class="openBox" type="button">
            
        </div>

    </body>
    <script>
        document.querySelector(".openBox").onclick = () =>
        {
            // var form = document.createElement('form');
            // document.body.appendChild(form);
            // form.method = 'get';
            // form.action = '/pack';
            // form.submit();
            // form.setAttribute()
            
        };
    </script>
</html>