<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <title>WaifuCollector | Settings</title>

        <link rel="stylesheet" href="resources/css/nav.css">
        <link rel="stylesheet" href="resources/css/std.css">
        <link rel="stylesheet" href="resources/css/sdgrid.css">

        <link rel="stylesheet" href="resources/css/settings.css">

    </head>

    <body>

        <%- include('partials/nav.ejs') %>

        <div class="wrapper">
            <div class="pass_change">
                <div class="pass_change_top">
                    <h1 class="pass_change_text">Change Password</h1> 
                </div>
                <form action="/passchange" method="post">
                    <input type="password" name="password" placeholder="New Password"/>
                    <input type="password" name="password2" placeholder="New Password"/>
                    <input type="submit" value="Change" name="submit"></input>
                </form>
            </div>
        </div>

    </body>

</html>