@import '../../scss/__base.scss';
@import '../../scss/effects.scss';

.settings_wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 100%;

    font-size: 14pt;

    .card
    {
        width: fit-content;
    }

    .card-content
    {
        padding: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .username, .email, .password
    {
        i
        {
            margin-left: 10px;
            &:hover
            {
                color: white;
                animation: wiggle 0.5s linear;
            }
        }

        margin: 5px 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .profileName
        {
           margin-bottom: 5px;
        }
    }

    form
    {
        border-left: 1px #7c7c7c solid;
        width: 100%;
        text-align: center;
        height: 0;
        transition: height 0.2s linear;
        overflow: hidden;

        &.open
        {
            height: 140px;
        }
    }
    input
    {
        margin: 5px 0;
        width: 90%;
        &[type="submit"]
        {
            width: 50%;
        }
    }
}
