<mat-drawer-container autosize *ngVar="(screenWidth$ | async) as screenWidth">
  <mat-drawer #drawer class="sidenav" *ngIf="screenWidth != null" [mode]="screenWidth > 600 ? 'side' : 'over'" [opened]="open">
    <div class="routes">
      <button mat-button routerLink="collectors">
        <div class="button-content"><mat-icon>featured_play_list</mat-icon> Collectors</div>
      </button>
      <button mat-button routerLink="users">
        <div class="button-content"><mat-icon>group</mat-icon> Users</div>
      </button>
    </div>
	</mat-drawer>
	<div class="container">
		<ng-content></ng-content>
	</div>
</mat-drawer-container>
