.fold-card
{
    cursor: pointer;
    height: min-content;

    .card-content
    {
        padding-top: 0px;
    }

    .card-title.resizetext_wrapper
    {
        margin-top: 3px;
    }

}
