@import '../scss/__base.scss';
@import '../scss/effects.scss';

.refresh_button
{
    cursor: pointer;
    color: $refresh-button-color;

    animation: spin 2s linear infinite;
    animation-play-state: paused;

    &:hover
    {
        color: $refresh-button-color-hover;
        animation-play-state: running;
    }
}
