@import '../../../scss/_base';

.threeDotsMenu{

    button{
        color: $sidebar-color;
        min-width: 16px;
        margin: auto 0;
    }

}

.MuiPaper-root.MuiMenu-paper{

    color: $sidebar-color;
    background-color: $background-secondary;
    filter: contrast(1);
}
