@import "../../../scss/__base.scss";

.inventory_wrapper
{
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5fr;

    grid-template-areas:
        "search search search"
        "inventory inventory inventory";

    .card_wrapper
    {
        grid-area: inventory;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: auto;
        margin-bottom: 30px;

        .inventory_card_wrapper
        {
            margin: 10px;
        }
    }

    .inventory_input
    {
        grid-area: search;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .text_input
        {
            margin-bottom: 10px;
            width: 50%;
        }

        .inventory_select
        {
            width: 40%;
        }
    }
}
