@import '../../../scss/__base.scss';

.popup_wrapper
{
    position: absolute;
    width: 1fr;
    height: 1fr;

    .popup
    {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1011;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 40%;

        @media screen and (max-width: $breakpoint-md)
        {
            width: 70%;
        }

        @media screen and (max-width: $breakpoint-xs)
        {
            width: 90%;
        }

        .popup_content
        {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 1fr;

            grid-template-areas:
                "text"
                "input";

            .text_area
            {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 200%;
            }

            .input_area
            {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                &.cancel_wrapper
                {
                    margin-top: 20px;
                }

                .button_input
                {
                    grid-area: input;
                    display: block;
                    width: 40%;
                    bottom: 10px;

                    &.cancel
                    {
                        width: 60%;
                    }
                }
            }
        }
    }
}
