<ul class="sidebar-nav">

    <!-- <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="adminpanel"><div><i class="fa fa-home"></i></div><span>Home</span></a></li> -->

    <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="<%= url %>/adminpanel"><span>Home</span></a></li>
    <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="<%= url %>/adminpanel/cards"><span>Cards</span></a></li>
    <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="<%= url %>/adminpanel/anime"><span>Anime</span></a></li>
    <li class="sidebar-nav-item"><a class="sidebar-nav-link" href="<%= url %>/adminpanel/users"><span>Users</span></a></li>

</ul>