.request-card {
	display: flex;
	flex-direction: column;
	flex: 1;
	//height: 300px;

	mat-card-content {
		margin: 0;
	}

	mat-card-title {
		display: flex;
		gap: 10px;

		.title, .seperator {
			padding: 0;
			margin: 0;
			font-size: 16px;
		}

		cc-user {
			display: block;
			height: 22px;
			font-size: 16px;
		}
	}

	mat-card-actions {
		padding-top: 5px;
		display: flex;
		gap: 50px;
		margin: 0 9px;
	}
}
