
/* Standard */

$background-primary: #252525;
$background-secondary: #1E1E1E;

/* Sidebar */

$sidebar-bg-color: $background-primary;
$sidebar-color: #d8d8d8;
$sidebar-width: 270px;
$sidebar-collapsed-width: 80px;
$highlight-color: #fff;
$submenu-bg-color: $background-primary;
$submenu-bg-color-collapsed: $background-primary;
$icon-bg-color: transparent;
$icon-size: 35px;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
