@import "../scss/__base.scss";

.shake:hover
{
  animation: shake 1s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  filter: contrast(1);
}

.shake-small:hover
{
  animation: shake-small 0.5s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate(-0.5px, 0);
  }

  20%, 80% {
    transform: translate(1px, 0);
  }

  30%, 50%, 70% {
    transform: translate(-1.5px, 0);
  }

  40%, 60% {
    transform: translate(1.5px, 0);
  }
}

@keyframes shake-small {
   0%, 100% {
     transform: translateX(0);
   } 
   20%, 60% {
     transform: translateX(-3px);
   } 
   40%, 80% {
     transform: translateX(3px);
   } 
} 

@keyframes wiggle {
   0%, 100% {
     transform: rotateZ(0deg);
   } 
   20%, 60% {
     transform: rotateZ(-10deg);
   } 
   40%, 80% {
     transform: rotateZ(10deg);
   } 
} 

@keyframes pulsepackshadow-bottom
{
  0% 
  {
    -webkit-box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulseone rgba(255,255,255,0.75);
    -moz-box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulseone rgba(255,255,255,0.75);
    box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulseone rgba(255,255,255,0.75);
  }
  50%
  {
    -webkit-box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulsetwo rgba(255,255,255,0.75);
    -moz-box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulsetwo rgba(255,255,255,0.75);
    box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulsetwo rgba(255,255,255,0.75);
  }
  100%
  {
    -webkit-box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulseone rgba(255,255,255,0.75);
    -moz-box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulseone rgba(255,255,255,0.75);
    box-shadow: 0px -25px 0px 25px $pack-background, 0px 3px $pack-pulseone rgba(255,255,255,0.75);
  }
}

@keyframes pulsepackshadow-top
{
  0% 
  {
    -webkit-box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulseone rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulseone rgba(255,255,255,0.75);
    box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulseone rgba(255,255,255,0.75);
  }
  50%
  {
    -webkit-box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulsetwo rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulsetwo rgba(255,255,255,0.75);
    box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulsetwo rgba(255,255,255,0.75);
  }
  100%
  {
    -webkit-box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulseone rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulseone rgba(255,255,255,0.75);
    box-shadow: 0px 25px 0px 25px $pack-background, 0px -3px $pack-pulseone rgba(255,255,255,0.75);
  }
}

@keyframes pulsepackshadow-right
{
  0% 
  {
    -webkit-box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulseone rgba(255,255,255,0.75);
    -moz-box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulseone rgba(255,255,255,0.75);
    box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulseone rgba(255,255,255,0.75);
  }
  50%
  {
    -webkit-box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulsetwo rgba(255,255,255,0.75);
    -moz-box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulsetwo rgba(255,255,255,0.75);
    box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulsetwo rgba(255,255,255,0.75);
  }
  100%
  {
    -webkit-box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulseone rgba(255,255,255,0.75);
    -moz-box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulseone rgba(255,255,255,0.75);
    box-shadow: -25px 0px 0px 25px $pack-background, 3px 0px $pack-pulseone rgba(255,255,255,0.75);
  }
}

@keyframes pulsepackshadow-left
{
  0% 
  {
    -webkit-box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulseone rgba(255,255,255,0.75);
    -moz-box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulseone rgba(255,255,255,0.75);
    box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulseone rgba(255,255,255,0.75);
  }
  50%
  {
    -webkit-box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulsetwo rgba(255,255,255,0.75);
    -moz-box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulsetwo rgba(255,255,255,0.75);
    box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulsetwo rgba(255,255,255,0.75);
  }
  100%
  {
    -webkit-box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulseone rgba(255,255,255,0.75);
    -moz-box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulseone rgba(255,255,255,0.75);
    box-shadow: 25px 0px 0px 25px $pack-background, -3px 0px $pack-pulseone rgba(255,255,255,0.75);
  }
}

@keyframes pulseinputshadow
{
  0% 
  {
    -webkit-box-shadow: 0 0 1px 1px white;
    -moz-box-shadow: 0 0 1px 1px white;
    box-shadow: 0 0 1px 1px white;
  }
  50%
  {
    -webkit-box-shadow: 0 0 3px 1px white;
    -moz-box-shadow: 0 0 3px 1px white;
    box-shadow: 0 0 3px 1px white;
  }
  100%
  {
    -webkit-box-shadow: 0 0 1px 1px white;
    -moz-box-shadow: 0 0 1px 1px white;
    box-shadow: 0 0 1px 1px white;
  }
}

@keyframes pulseinputshadowinvalid
{
  0% 
  {
    -webkit-box-shadow: 0 0 1px 1px red;
    -moz-box-shadow: 0 0 1px 1px red;
    box-shadow: 0 0 1px 1px red;
  }
  50%
  {
    -webkit-box-shadow: 0 0 3px 1px red;
    -moz-box-shadow: 0 0 3px 1px red;
    box-shadow: 0 0 3px 1px red;
  }
  100%
  {
    -webkit-box-shadow: 0 0 1px 1px red;
    -moz-box-shadow: 0 0 1px 1px red;
    box-shadow: 0 0 1px 1px red;
  }
}

@keyframes bigpulseinputshadow
{
  0% 
  {
    -webkit-box-shadow: 0 0 1px 1px white;
    -moz-box-shadow: 0 0 1px 1px white;
    box-shadow: 0 0 10px 10px white;
  }
  50%
  {
    -webkit-box-shadow: 0 0 3px 1px white;
    -moz-box-shadow: 0 0 3px 1px white;
    box-shadow: 0 0 50px 30px white;
  }
  100%
  {
    -webkit-box-shadow: 0 0 1px 1px white;
    -moz-box-shadow: 0 0 1px 1px white;
    box-shadow: 0 0 10px 10px white;
  }
}

@keyframes spin
{
  100%
  {
    transform: rotate(360deg);
  }
}

@keyframes spincenter
{
  100%
  {
    transform: translate(50%, -50%) rotate(360deg);
  }
}

@keyframes text-appear
{
  0%
  {
    font-size: 0pt;
  }
  100%
  {
    font-size: 12pt;
  }
}

@keyframes fadeout
{
  0%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
