/* Standard */

$background-primary: #252525;
$background-secondary: #1E1E1E;

/* Navbar */
$navbar-background: $background-primary;
$navbar-color: #d8d8d8;
$navbar-height: 60px;

/* Login Button */
$login-btn-color: black;
$login-btn-background: white;
$login-btn-border: white;

$login-btn-color-hover: white;
$login-btn-background-hover: transparent;
$login-btn-border-hover: white;

/* Sidebar */

$sidebar-bg-color: $background-primary;
$sidebar-color: #d8d8d8;
$sidebar-width: 270px;
$sidebar-collapsed-width: 80px;
$highlight-color: #fff;
$submenu-bg-color: $background-primary;
$submenu-bg-color-collapsed: $background-primary;
$icon-bg-color: transparent;
$icon-size: 35px;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* WaifuCard */
$cardFontColor: #1E1E1E;
$cardFontColorLevel: #E0BF06;
$cardFontColorQuality: #A3A3A3;

/* Pack */
$pack-cover: #292929;
$pack-background: $background-secondary;
$pack-size: 30px;
$pack-corner-size: 42.4264px;
$pack-pulseone: 2px;
$pack-pulsetwo: 15px;

/* Input */
$input-background: $background-primary;
$input-border-color: #9d9d9d;
$input-border-color-selected: $sidebar-color;
$input-border-color-hover: #c7c7c7;
$input-border-color-disabled: #606060;
$input-text-color: $sidebar-color;
$input-text-color-disabled: #787878;

/* RefreshButton */
$refresh-button-color: $sidebar-color;
$refresh-button-color-hover: $highlight-color;

$color-error: red;
$color-success: #048c04;

$color-decline: #be0303;
$color-decline-highlight: #ff0000;
$color-accept: #048c04;
$color-accept-highlight: #01eb01;

/* Notification */
$time-since-color: #797979;
