@import "../../scss/__base.scss";

.notifications_container{

    height: 100%;

    .card-content .notification:not(:first-child){

        margin-top: 10px;

    }

}

.notification{

    display: flex;

    background-color: $background-secondary;

    padding: 10px;

    border-radius: 10px;

    &.noIcon{

        padding: 25px;

    }

    .icon{

        height: 80px;
        align-self: center;

        padding-right: 20px;

        img{

            height: 100%;
            width: auto;

        }

    }

    .not_content{

        align-self: center;

        h2{

            font-size: 1.2em;

        }

        p{

            margin-top: 5px;

            color: $time-since-color;
            font-size: 0.9em;

        }

    }

    .doneButton{

        padding-left: 25px;
        padding-right: 15px;

        display: flex;

        align-self: center;
        align-items: center;
       
        margin-left: auto;

        svg{

            padding: 5px;

            border-radius: 100%;
            border: 1px solid $sidebar-color;

            transition: 0.3s;

            &:hover{

                color: green;
                border-color: green;

            }

        }

    }

}