@import './scss/__base.scss';

*{

    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5, h6, p, span, a, table, div{

    font-family: 'Epilogue';
    
}

main.content{

    display: block;
    position: relative;

    box-sizing: border-box;

    padding: clamp(10px, 4%, 40px);

    height: 100vh;
    width: 100%;

    overflow: auto;

    background-color: $background-secondary;

    color: #D8D8D8;
}

.text_input
{
    color: $input-text-color;
    background-color: $input-background;
    border: 1px solid $input-border-color;
    outline: none;
    border-radius: 5px;
    height: 35px;
    text-align: center;
    &:focus
    {
        border-color: $input-border-color-selected;
        animation: pulseinputshadow 2s ease-out infinite;
    }

    &:hover
    {
        border-color: $input-border-color-hover;
    }
}

.button_input
{
    color: $input-text-color;
    background-color: $input-background;
    border: 1px solid $input-border-color;
    outline: none;
    border-radius: 5px;
    height: 35px;
    text-align: center;
    &:focus
    {
        border-color: $input-border-color-selected;
        animation: pulseinputshadow 2s ease-out infinite;
    }

    &:hover
    {
        border-color: $input-border-color-hover;
    }
}

.blurbackground
{
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #000000aa;
    z-index: 1010;
    overflow: hidden;
}
